.container form,
.list-group {
	max-width: 660px;
}

form input,
form textarea,
form button.btn {
	margin-bottom: 1em;
}

.jumbotron h1 {
	font-size: 36px;
}

.jumbotron {
	padding-bottom: 12px;
}

#sort-submit {
	display: none;
}

.edit_link,
.show_link {
	float: right;
	margin-left: 1em;
}

.container form.sign-in,
.sign-in
 {
	max-width: 220px;
	display: block;
	padding:0;
	margin: 0 auto;
}


form.sign-in input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

form.sign-in input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sortable li {
	cursor:grab;
  	cursor:-moz-grab;
  	cursor:-webkit-grab;
	*cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}

li.sortable-placeholder {
	border: 1px dashed #DDD;
	height: 42px;
	list-style: none;
}

@media (max-width: 768px) {
	.jumbotron {
		padding-top: 193px;
	}

}

.navbar-brand {
   background: url('../../assets/images/ign_logo.png') center left no-repeat;
   padding-left: 112px;
}

form button[type="submit"] {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

form button[type="submit"] {
	margin-top: 2em;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

form button[type="submit"]:hover {
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad;
}

#ign_votingbundle_votable_submit {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	margin-top: 0;
}

#ign_votingbundle_votable_submit:hover {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.image_existing {
	display: block;
}

.image_existing p.small {
    margin-top: 2em;
}
