{% extends '::base.html.twig' %}
{% set menu = 'votable' %}
{% form_theme edit_form "IgnVotingBundle:Form:fields.html.twig" %}

{% block body -%}
    <div class="jumbotron">
        <div class="container">    
        	<h1>Edit moment</h1>
        </div>
    </div>
    <div class="container">
	    {{ form(edit_form) }}
        {{ form(delete_form) }}</li>
	</div>
{% endblock %}
