{% extends '::base.html.twig' %}
{% set menu = 'votable' %}

{% block body -%}

    <div class="jumbotron">
        <div class="container">
            <h1>Manage moments</h1>
            <p>These are all of the moments currently available on the site<br>The list can be dragged to re-order them</p>
        </div>
    </div>

    <div class="container">
        <ul class="sortable list-group">
            {% for entity in entities %}
                <li class="list-group-item"
                    data-id="{{ entity.id }}">
                    {{ entity.name }}
                    <a class="show_link"
                       href="{{ path('secure_votable_show', { 'id': entity.id }) }}">view</a>
                    <a class="edit_link"
                       href="{{ path('secure_votable_edit', { 'id': entity.id }) }}">edit</a>
                </li>
            {% endfor %}
        </ul>

         <a href="{{ path('secure_votable_new') }}">
            + Add a new moment
        </a>
    
        <p><a href="#" id="sort-submit" data-url="{{ path('secure_votable_sort') }}">Save changes</a></p>
        <p id="sort-status"></p>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/listsort.js') }}"></script>
{% endblock %}