{% extends '::base.html.twig' %}
{% set menu = 'votable' %}

{% block body -%}
<div class="jumbotron">
    <div class="container">
        <h1>New moment</h1>
	</div>
</div>
<div class="container">
	{{ form(form) }}
</div>

{% endblock %}
