<section id="mom_wrapper" class="row"> 

	{% for row in votables|batch(4) %}
		<div class="row">
			
			{% for column in row %}
				<div class="large-3 columns">
					<div class="mom_container" data-momid="{{ column.id }}">
						<figure class="mom_pic">
							<span class="corner-tri"></span>
							<img src="{{ asset(column.getWebPath) }}" data-slide="{{ (4 * loop.parent.loop.index0) + loop.index0 }}" alt="img text" data-video="{{ app.request.getBaseURL ~ '/uploads/videos/' ~ (column.getVideoPath) | url_encode }}" data-reveal-id="vid_modal">
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption>{{ column.name }}</figcaption>
						</figure>
						<span class="game_name">{{ column.game }}</span>
					</div>
				</div>
			{% endfor %}
		
		</div>
	{% endfor %}

</section>