{% extends '::base.html.twig' %}
{% set menu = 'votable' %}

{% block body -%}
    <div class="jumbotron">
        <div class="container">  
            <h1>Moment: {{ entity.name }}</h1>
            <p>{{ entity.description }}</p>
            <p>Points: {{ entity.votes }}</p>
        </div>
    </div>

    <div class="container">
        <p>
            <a href="{{ path('secure_votable_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        <p/
        <p>{{ form(delete_form) }}</p>
    </div>

{% endblock %}
