<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}IGN COD Moments Administration{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('apple-touch-icon.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/admin/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/admin/app.css') }}" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        {% if app.user %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('secure_votable') }}">COD Moments</a>
                </div>
                <ul class="nav navbar-nav">
                    <li{% if menu|default('null') == 'votable' %} class="active"{% endif %}><a href="{{ path('secure_votable') }}">Manage moments</a></li>
                    <li{% if menu|default('null') == 'report' %} class="active"{% endif %}><a href="{{ path('secure_admin_report')}}">Reports</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
        {% block body %}{% endblock %}
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="{{ asset('js/admin/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
