{% form_theme form _self %}

{% block _ign_votingbundle_votable_file_widget %}
        {% if form.parent.vars.value.getWebPath is not null %}
        <div class="image_existing">
            <img src="{{ asset(form.parent.vars.value.getWebPath) }}" />
            <p class="small">Replace this image:</p>
        </div>
        {% endif %}

   {{ block('form_widget_simple') }}
{% endblock %}

{{ form_widget(form.name) }}