{% extends '::base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <div class="container sign-in">    
            <h1>Sign in</h1>
        </div>
    </div>

    <div class="container">
        <form class="sign-in" action="{{ path('login_check') }}" method="post">
            {% if error %}
                <div class="error"><p>{{ error.message }}</p></div>
            {% endif %}
            
            <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" />
            <input type="password" class="form-control" placeholder="Password" id="password" name="_password" />

            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
{% endblock %}