{% extends '::base.html.twig' %}
{% set menu = 'report' %}

{% block body -%}

    <div class="jumbotron">
        <div class="container">
            <h1>Moment report</h1>
            <p>All the moments, with their scores</p>
            <a class="btn btn-primary" href="{{ path('secure_admin_report_csv') }}">Download for Excel</a>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Moment name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.votes }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/listsort.js') }}"></script>
{% endblock %}