/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 109 of /Users/dmoores/Projects/gen_game/web/sass/moments.scss

Backtrace:
/Users/dmoores/Projects/gen_game/web/sass/moments.scss:109
/Users/dmoores/.gem/ruby/1.8/gems/sass-3.2.3/lib/sass/../sass/scss/parser.rb:1134:in `expected'
/Users/dmoores/.gem/ruby/1.8/gems/sass-3.2.3/lib/sass/../sass/scss/parser.rb:1070:in `expected'
/Users/dmoores/.gem/ruby/1.8/gems/sass-3.2.3/lib/sass/../sass/scss/parser.rb:28:in `parse'
/Users/dmoores/.gem/ruby/1.8/gems/sass-3.2.3/lib/sass/../sass/engine.rb:342:in `_to_tree'
/Users/dmoores/.gem/ruby/1.8/gems/sass-3.2.3/lib/sass/../sass/engine.rb:315:in `_render'
/Users/dmoores/.gem/ruby/1.8/gems/sass-3.2.3/lib/sass/../sass/engine.rb:262:in `render'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/rubygems/custom_require.rb:31:in `to_proc'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `modified'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/dmoores/.gem/ruby/1.8/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/bin/compass:30
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/dmoores/.gem/ruby/1.8/gems/compass-0.12.2/bin/compass:44
/usr/bin/compass:23:in `load'
/usr/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 109 of /Users/dmoores/Projects/gen_game/web/sass/moments.scss"; }
