/**cod moments styles**/
@font-face {
  font-family: 'gotham_thin';
  src: url("../assets/fonts/gotham_thin-webfont.eot");
  src: url("../assets/fonts/gotham_thin-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gotham_thin-webfont.woff") format("woff"), url("../assets/fonts/gotham_thin-webfont.ttf") format("truetype"), url("../assets/fonts/gotham_thin-webfont.svg#gotham_thinregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gotham-ExtraLight';
  src: url("../assets/fonts/Gotham ExtraLight.eot");
  src: local("☺"), url("../assets/fonts/Gotham ExtraLight.woff") format("woff"), url("../assets/fonts/Gotham ExtraLight.ttf") format("truetype"), url("../assets/fonts/Gotham ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-light';
  src: url("assets/fonts/GalaxiePolaris-Light.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Light.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Light.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-bold';
  src: url("assets/fonts/GalaxiePolaris-Bold.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Bold.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Bold.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-book';
  src: url("assets/fonts/GalaxiePolaris-Book.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Book.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Book.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-medium';
  src: url("assets/fonts/GalaxiePolaris-Medium.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Medium.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Medium.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**variable declarations**/
/* line 67, ../sass/moments.scss.LOCAL.9468.scss */
html {
  background-color: black;
}

/* line 71, ../sass/moments.scss.LOCAL.9468.scss */
body {
  background: black url(../assets/images/cod-moments-bg.jpg);
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;*/
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
}
/* line 82, ../sass/moments.scss.LOCAL.9468.scss */
body .row {
  max-width: 62.85em;
}

/* line 87, ../sass/moments.scss.LOCAL.9468.scss */
#moments_container {
  /*background-color: black;*/
}

/**top triangle**/
/* line 92, ../sass/moments.scss.LOCAL.9468.scss */
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent #0c0b0b transparent;
  float: right;
  margin-top: -56px;
  margin-right: -7px;
}

/**end top triangle**/
/**container section**/
/* line 106, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper-2 .row {
  padding: 0px 15px;
}

/* line 111, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper, #mom_wrapper-2, #mom_wrapper-3 {
  background: #0c0b0b url(../assets/images/right_pattern.png) right repeat-y;
  padding: 40px 15px;
}
/* line 115, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row, #mom_wrapper-2 .row, #mom_wrapper-3 .row {
  margin-bottom: 15px;
}
/* line 118, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container, #mom_wrapper-2 .row .mom_container, #mom_wrapper-3 .row .mom_container {
  background-color: #0c0b0b;
  color: white;
  cursor: pointer;
  height: auto;
  width: 100%;
  padding-bottom: 10px;
  font-family: galaxie-book;
}
/* line 127, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container figcaption, #mom_wrapper-2 .row .mom_container figcaption, #mom_wrapper-3 .row .mom_container figcaption {
  font-size: 16px;
  font-family: 'galaxie-light';
  line-height: 20px;
}
/* line 133, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container img, #mom_wrapper-2 .row .mom_container img, #mom_wrapper-3 .row .mom_container img {
  margin-bottom: 10px;
}
/* line 137, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container span.corner-tri, #mom_wrapper-2 .row .mom_container span.corner-tri, #mom_wrapper-3 .row .mom_container span.corner-tri {
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 35px 35px 0;
  border-color: transparent #0c0b0b transparent transparent;
  position: absolute;
  right: 7px;
  z-index: 99;
}
/* line 149, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container span.cross, #mom_wrapper-2 .row .mom_container span.cross, #mom_wrapper-3 .row .mom_container span.cross {
  display: block;
  height: 37px;
  width: 37px;
  background-color: #af2b10;
  position: absolute;
  margin-top: -46px;
  cursor: pointer;
}
/* line 158, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon, #mom_wrapper-2 .row .mom_container span.cross .cross_icon, #mom_wrapper-3 .row .mom_container span.cross .cross_icon {
  background: transparent url(../assets/images/cod_sprite.png) 0px 0px no-repeat;
  display: block;
  height: 15px;
  width: 17px;
  margin: auto;
  margin-top: 31%;
  margin-left: 21%;
  position: absolute;
}
/* line 168, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon.move_icon, #mom_wrapper-2 .row .mom_container span.cross .cross_icon.move_icon, #mom_wrapper-3 .row .mom_container span.cross .cross_icon.move_icon {
  background: transparent url(../assets/images/move_icon.png) 0px 0px no-repeat;
  display: block;
  height: 23px;
  width: 23px;
  margin-top: 24%;
  margin-left: 16%;
}
/* line 177, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon.spinEffect, #mom_wrapper-2 .row .mom_container span.cross .cross_icon.spinEffect, #mom_wrapper-3 .row .mom_container span.cross .cross_icon.spinEffect {
  -webkit-animation: spin 0.2s linear;
}
/* line 182, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container span.cross.off, #mom_wrapper-2 .row .mom_container span.cross.off, #mom_wrapper-3 .row .mom_container span.cross.off {
  background-color: #2d3536;
}
/* line 187, ../sass/moments.scss.LOCAL.9468.scss */
#mom_wrapper .row .mom_container span.game_name, #mom_wrapper-2 .row .mom_container span.game_name, #mom_wrapper-3 .row .mom_container span.game_name {
  font-size: 12px;
  font-family: 'galaxie-light';
  margin-top: 10px;
  display: block;
}

/* line 200, ../sass/moments.scss.LOCAL.9468.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 205, ../sass/moments.scss.LOCAL.9468.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 213, ../sass/moments.scss.LOCAL.9468.scss */
.cf {
  *zoom: 1;
}

@-webkit-keyframes spin {
  /* line 220, ../sass/moments.scss.LOCAL.9468.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 221, ../sass/moments.scss.LOCAL.9468.scss */
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

/**end tab styling**/
/**topsection**/
/* line 228, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top {
  height: 385px;
  position: relative;
  /**last selected section**/
  /**end last section**/
}
/* line 233, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top h2 {
  font-size: 17px;
  font-family: 'Conv_Gotham-ExtraLight';
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-align: right;
  opacity: 0;
}
/* line 243, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top h1 {
  font-size: 53px;
  font-family: 'gotham_thin';
  font-weight: normal;
  line-height: 65px;
  color: white;
  text-align: right;
  opacity: 0;
}
/* line 253, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top img {
  float: right;
}
/* line 257, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top .header_text {
  margin-top: 50px;
}
/* line 260, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top .header_text .large-5 {
  padding-right: 20px;
}
/* line 272, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container .numeric-header {
  height: 52px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
}
/* line 276, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container .numeric-header .number {
  background-color: #af2b10;
  height: 100%;
  font-style: italic;
  width: 78px;
  float: left;
  margin-right: 18px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 1px;
}
/* line 288, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container .numeric-header .text {
  height: 100%;
  float: left;
  padding-top: 10px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 288px;
}
/* line 298, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container .numeric-header .text span {
  display: block;
  font-size: 12px;
  line-height: 10px;
  color: #99a3ab;
}
/* line 307, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container ul {
  list-style: none;
  height: 171px;
}
/* line 311, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container ul li {
  height: 52px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  padding: 3px;
  border-bottom: 1px solid #2e2e2f;
}
/* line 317, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container ul li span {
  width: 74px;
  height: 41px;
  background-color: #4e4e4e;
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 2px;
  line-height: 10px;
}
/* line 328, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container ul li p {
  float: left;
  font-family: 'galaxie-light';
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

/**end top section**/
/**end container section**/
/**tabs styles**/
/* line 349, ../sass/moments.scss.LOCAL.9468.scss */
.etabs {
  margin: 0;
  padding: 0;
}

/* line 350, ../sass/moments.scss.LOCAL.9468.scss */
.tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #a4280e;
  color: white;
  font-family: 'galaxie-light';
  font-style: 300;
}

/* line 351, ../sass/moments.scss.LOCAL.9468.scss */
.tab a {
  font-size: 22px;
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
  color: white;
}

/* line 353, ../sass/moments.scss.LOCAL.9468.scss */
.tab.active {
  background: black;
  padding-top: 6px;
  position: relative;
  top: 1px;
}

/* line 354, ../sass/moments.scss.LOCAL.9468.scss */
.tab a.active {
  font-weight: bold;
}

/* line 355, ../sass/moments.scss.LOCAL.9468.scss */
.tab-container .panel-container {
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
}

/**tab_styling**/
/* line 358, ../sass/moments.scss.LOCAL.9468.scss */
li.tab {
  background: transparent url(../assets/images/tab_caps.png) -10px -90px;
  text-align: center;
}
/* line 362, ../sass/moments.scss.LOCAL.9468.scss */
li.tab.first {
  width: 220px;
  margin-left: 0px;
  background: transparent url(../assets/images/tab_caps.png) 0px -148px;
}
/* line 368, ../sass/moments.scss.LOCAL.9468.scss */
li.tab.second {
  width: 267px;
  margin-left: -20px;
}
/* line 373, ../sass/moments.scss.LOCAL.9468.scss */
li.tab.active {
  background: transparent url(../assets/images/tab_caps.png) 0px -210px;
  background-color: transparent;
  width: 220px;
  margin-left: -7px;
}
/* line 379, ../sass/moments.scss.LOCAL.9468.scss */
li.tab.active.second {
  width: 278px;
  margin-left: -30px;
  background: transparent url(../assets/images/tab_caps.png) 0px -12px;
}

/**end tab styles**/
/**modal styles**/
/* line 389, ../sass/moments.scss.LOCAL.9468.scss */
#myModal {
  background-color: black;
  border: none;
}

/**end modal styles**/
/* line 398, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js h1, #tabs1-hidden h1 {
  color: white;
  font-size: 45px;
  font-family: 'galaxie-light';
  font-weight: normal;
  line-height: 65px;
}
/* line 406, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js p, #tabs1-hidden p {
  color: white;
  font-weight: normal;
  font-size: 17px;
  font-family: 'Conv_Gotham-ExtraLight';
}
/* line 415, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .border, #tabs1-js #mom_wrapper-2 .border, #tabs1-js #mom_wrapper-3 .border, #tabs1-hidden #mom_wrapper .border, #tabs1-hidden #mom_wrapper-2 .border, #tabs1-hidden #mom_wrapper-3 .border {
  border-top: 1px solid #25272a;
  margin: 25px 0px;
}
/* line 422, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant, #tabs1-js #mom_wrapper-2 .mom_container.vacant, #tabs1-js #mom_wrapper-3 .mom_container.vacant, #tabs1-hidden #mom_wrapper .mom_container.vacant, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant {
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 424, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant .mom_pic, #tabs1-js #mom_wrapper-2 .mom_container.vacant .mom_pic, #tabs1-js #mom_wrapper-3 .mom_container.vacant .mom_pic, #tabs1-hidden #mom_wrapper .mom_container.vacant .mom_pic, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant .mom_pic, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant .mom_pic {
  min-height: 118px;
  margin: 0 auto;
  background-size: 100%;
}
/* line 434, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant img, #tabs1-js #mom_wrapper-2 .mom_container.vacant img, #tabs1-js #mom_wrapper-3 .mom_container.vacant img, #tabs1-hidden #mom_wrapper .mom_container.vacant img, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant img, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant img {
  margin-bottom: 0px;
}
/* line 439, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant p, #tabs1-js #mom_wrapper-2 .mom_container.vacant p, #tabs1-js #mom_wrapper-3 .mom_container.vacant p, #tabs1-hidden #mom_wrapper .mom_container.vacant p, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant p, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant p {
  font-family: 'Conv_Gotham-ExtraLight';
  text-align: center;
  position: absolute;
  padding: 0px 15%;
  margin-top: 28%;
  width: 85%;
  color: #cdd4db;
  font-size: 14px;
}
/* line 450, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant figcaption, #tabs1-js #mom_wrapper-2 .mom_container.vacant figcaption, #tabs1-js #mom_wrapper-3 .mom_container.vacant figcaption, #tabs1-hidden #mom_wrapper .mom_container.vacant figcaption, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant figcaption, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant figcaption {
  font-size: 40px;
  width: 85%;
  display: block;
  height: 121px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 75px;
  color: #cdd4db;
  font-family: 'gotham_thin';
}
/* line 466, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged, #tabs1-js #mom_wrapper-2 .mom_container.dragged, #tabs1-js #mom_wrapper-3 .mom_container.dragged, #tabs1-hidden #mom_wrapper .mom_container.dragged, #tabs1-hidden #mom_wrapper-2 .mom_container.dragged, #tabs1-hidden #mom_wrapper-3 .mom_container.dragged {
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 471, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged img, #tabs1-js #mom_wrapper-2 .mom_container.dragged img, #tabs1-js #mom_wrapper-3 .mom_container.dragged img, #tabs1-hidden #mom_wrapper .mom_container.dragged img, #tabs1-hidden #mom_wrapper-2 .mom_container.dragged img, #tabs1-hidden #mom_wrapper-3 .mom_container.dragged img {
  margin-bottom: 0px;
}
/* line 476, ../sass/moments.scss.LOCAL.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged figcaption, #tabs1-js #mom_wrapper-2 .mom_container.dragged figcaption, #tabs1-js #mom_wrapper-3 .mom_container.dragged figcaption, #tabs1-hidden #mom_wrapper .mom_container.dragged figcaption, #tabs1-hidden #mom_wrapper-2 .mom_container.dragged figcaption, #tabs1-hidden #mom_wrapper-3 .mom_container.dragged figcaption {
  font-size: 40px;
  width: 30%;
  display: block;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  height: 121px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 102px;
  color: #cdd4db;
  font-family: 'gotham_thin';
  margin-left: -86%;
}

/**carousel styles**/
/* line 498, ../sass/moments.scss.LOCAL.9468.scss */
.list_carousel {
  width: 100%;
}

/* line 501, ../sass/moments.scss.LOCAL.9468.scss */
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

/* line 507, ../sass/moments.scss.LOCAL.9468.scss */
.list_carousel li {
  font-size: 40px;
  color: #999;
  text-align: center;
  display: block;
  float: left;
  width: 214px;
  height: 121px;
  margin: 0px 10px;
}
/* line 517, ../sass/moments.scss.LOCAL.9468.scss */
.list_carousel li img {
  width: 214px;
  height: 121px;
  max-width: none;
}

/* line 523, ../sass/moments.scss.LOCAL.9468.scss */
.list_carousel.responsive {
  width: auto;
  margin-left: 0;
}

/* line 527, ../sass/moments.scss.LOCAL.9468.scss */
.clearfix {
  float: none;
  clear: both;
}

/* line 531, ../sass/moments.scss.LOCAL.9468.scss */
.prev {
  float: left;
  margin-left: 10px;
}

/* line 535, ../sass/moments.scss.LOCAL.9468.scss */
.next {
  float: right;
  margin-right: 10px;
}

/* line 539, ../sass/moments.scss.LOCAL.9468.scss */
.pager {
  float: left;
  width: 300px;
  text-align: center;
}

/* line 544, ../sass/moments.scss.LOCAL.9468.scss */
.pager a {
  margin: 0 5px;
  text-decoration: none;
}

/* line 548, ../sass/moments.scss.LOCAL.9468.scss */
.pager a.selected {
  text-decoration: underline;
}

/* line 551, ../sass/moments.scss.LOCAL.9468.scss */
.timer {
  background-color: #999;
  height: 6px;
  width: 0px;
}

/**Draggable styles**/
/**end carousel styles**/
/* line 563, ../sass/moments.scss.LOCAL.9468.scss */
#sortable1 li, #sortable2 li {
  width: 24.9%;
  float: left;
  margin-bottom: 15px;
}
/* line 568, ../sass/moments.scss.LOCAL.9468.scss */
#sortable1 li .large-3, #sortable2 li .large-3 {
  width: 100%;
}

/**end draggable styles**/
/**submit**/
/* line 578, ../sass/moments.scss.LOCAL.9468.scss */
#moment_submit, #modal_submit, #list_submit, #own_submit, #shortlist_submit, #submit_birthdate {
  background: #af2b10 url(../assets/images/bg_submit.png) top left repeat-x;
  height: 45px;
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: 'galaxie-medium';
  font-size: 16px;
  line-height: 39px;
}

/* line 591, ../sass/moments.scss.LOCAL.9468.scss */
#submit_birthdate {
  margin-top: -25px;
}

/* line 595, ../sass/moments.scss.LOCAL.9468.scss */
#list_submit {
  width: 65%;
  margin: 0px auto;
}

/* line 600, ../sass/moments.scss.LOCAL.9468.scss */
#own_submit {
  margin: 0px auto 20px;
  width: 50%;
}

/**end submit**/
/* line 607, ../sass/moments.scss.LOCAL.9468.scss */
li.vacant {
  list-style: none;
  margin-left: 0.46875em;
  margin-right: 0.46875em;
  width: 23.3%!important;
  padding: 0px!important;
  display: block;
  height: 139px;
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 617, ../sass/moments.scss.LOCAL.9468.scss */
li.vacant .mom_pic {
  min-height: 118px;
  margin: 0 auto;
  background-size: 100%;
}
/* line 627, ../sass/moments.scss.LOCAL.9468.scss */
li.vacant img {
  margin-bottom: 0px;
}
/* line 632, ../sass/moments.scss.LOCAL.9468.scss */
li.vacant p {
  font-family: 'Conv_Gotham-ExtraLight';
  text-align: center;
  position: absolute;
  padding: 0px 15%;
  margin-top: 28%;
  width: 85%;
  color: #cdd4db;
  font-size: 14px;
}
/* line 643, ../sass/moments.scss.LOCAL.9468.scss */
li.vacant figcaption {
  font-size: 40px;
  width: 85%;
  display: block;
  height: 121px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 75px;
  color: #cdd4db;
  font-family: 'gotham_thin';
}

/**sticky header**/
/* line 663, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top .sticky-wrapper {
  margin-top: 24px;
}
/* line 667, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container {
  color: white;
  font-family: 'galaxie-light';
  font-size: 14px;
  width: 385px;
  height: 52px;
  position: relative;
  z-index: 999;
  right: 0px;
  overflow: hidden;
  left: 50%;
  margin-left: 115px;
  margin-top: 24px;
}
/* line 681, ../sass/moments.scss.LOCAL.9468.scss */
.mom_top #chosen_container.stuck {
  position: fixed;
  top: 0px;
  margin-top: 0px;
}

/**end sticky header**/
/**vid modal**/
/* line 692, ../sass/moments.scss.LOCAL.9468.scss */
.play_icon {
  background: url(../assets/images/play_btn.png);
  height: 27px;
  width: 23px;
  position: absolute;
  margin: auto;
  right: 46%;
  margin-top: 20%;
  opacity: 0;
  pointer-events: none;
  top: 0px;
}

/* line 705, ../sass/moments.scss.LOCAL.9468.scss */
#vid_modal {
  background-color: transparent;
  border: none;
}

/* line 711, ../sass/moments.scss.LOCAL.9468.scss */
.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.8);
}

/* line 715, ../sass/moments.scss.LOCAL.9468.scss */
.reveal-modal.small {
  margin-left: -184px;
  width: 388px;
  background-color: #0c0c0c;
  color: white;
  border: 1px solid #212120;
}
/* line 723, ../sass/moments.scss.LOCAL.9468.scss */
.reveal-modal.small p a {
  color: #999999;
}
/* line 725, ../sass/moments.scss.LOCAL.9468.scss */
.reveal-modal.small p a:hover {
  text-decoration: underline;
}
/* line 732, ../sass/moments.scss.LOCAL.9468.scss */
.reveal-modal.small h3, .reveal-modal.small h2 {
  font-family: 'galaxie-light';
  color: white;
  font-size: 26px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
}
/* line 741, ../sass/moments.scss.LOCAL.9468.scss */
.reveal-modal.small p {
  font-family: 'Conv_Gotham-ExtraLight';
  font-size: 16px;
  text-align: center;
}

/* line 748, ../sass/moments.scss.LOCAL.9468.scss */
#list_modal {
  margin-left: -17.5%;
  width: 35%;
}
/* line 752, ../sass/moments.scss.LOCAL.9468.scss */
#list_modal ul {
  list-style: none;
}
/* line 755, ../sass/moments.scss.LOCAL.9468.scss */
#list_modal ul li {
  height: 55px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  padding: 3px;
}
/* line 760, ../sass/moments.scss.LOCAL.9468.scss */
#list_modal ul li span {
  width: 74px;
  height: 41px;
  background-color: #4e4e4e;
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 2px;
  line-height: 10px;
}
/* line 771, ../sass/moments.scss.LOCAL.9468.scss */
#list_modal ul li p {
  float: left;
  font-family: 'galaxie-light';
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 57%;
  font-size: 12px;
}

/**end vid modal**/
/**spin**/
@-moz-keyframes spin {
  /* line 789, ../sass/moments.scss.LOCAL.9468.scss */
  100% {
    -moz-transform: rotate(45deg);
  }
}

@-webkit-keyframes spin {
  /* line 790, ../sass/moments.scss.LOCAL.9468.scss */
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes spin {
  /* line 791, ../sass/moments.scss.LOCAL.9468.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(45deg);
  }
}

/**end spin**/
/**share buttons**/
/* line 796, ../sass/moments.scss.LOCAL.9468.scss */
#share_btns {
  margin-top: 20px;
}

/* line 800, ../sass/moments.scss.LOCAL.9468.scss */
#twitter {
  width: 153px;
  height: 34px;
  display: block;
  line-height: 0px;
  font-size: 0px;
  float: right;
}
/* line 808, ../sass/moments.scss.LOCAL.9468.scss */
#twitter .share {
  background: url(../assets/images/shar_sprite.png);
  display: block;
  height: 34px;
  width: 100%;
  background-position: 0px 34px;
}
/* line 815, ../sass/moments.scss.LOCAL.9468.scss */
#twitter .count {
  float: right;
  font-size: 13px;
  color: black;
  line-height: 33px;
  text-align: center;
  margin-right: 18px;
  font-family: 'galaxie-medium';
  font-family: 'galaxie-medium';
  color: #006dae;
}

/* line 828, ../sass/moments.scss.LOCAL.9468.scss */
#facebook {
  width: 153px;
  height: 34px;
  display: block;
  line-height: 0px;
  font-size: 0px;
  float: left;
}
/* line 836, ../sass/moments.scss.LOCAL.9468.scss */
#facebook .share {
  background: url(../assets/images/shar_sprite.png);
  display: block;
  height: 34px;
  width: 100%;
}
/* line 842, ../sass/moments.scss.LOCAL.9468.scss */
#facebook .count {
  float: right;
  font-size: 13px;
  color: black;
  line-height: 33px;
  text-align: center;
  margin-right: 18px;
  font-family: 'galaxie-medium';
  color: #3b539d;
}

/**end share buttons**/
/* line 855, ../sass/moments.scss.LOCAL.9468.scss */
#sortable1 .ui-sortable-helper {
  margin-right: -200px;
}
/* line 859, ../sass/moments.scss.LOCAL.9468.scss */
#sortable1 .ui-state-default {
  background-color: none;
  list-style: none;
  border: none;
  background: transparent;
}

/* line 867, ../sass/moments.scss.LOCAL.9468.scss */
#bespoke_list {
  background-color: #0c0b0b;
  padding: 20px 20px 0px;
}
/* line 871, ../sass/moments.scss.LOCAL.9468.scss */
#bespoke_list a {
  margin: 0px auto;
}

/* line 878, ../sass/moments.scss.LOCAL.9468.scss */
.myMoments #mom_wrapper {
  padding-top: 20px;
}
/* line 882, ../sass/moments.scss.LOCAL.9468.scss */
.myMoments #inject {
  display: none;
}
/* line 886, ../sass/moments.scss.LOCAL.9468.scss */
.myMoments #inject .titleInject {
  font-size: 53px;
  font-family: 'gotham_thin';
  font-weight: normal;
  line-height: 45px;
  color: white;
  text-align: left;
  margin-top: 0px;
  line-height: 60px;
}

/* line 899, ../sass/moments.scss.LOCAL.9468.scss */
#example_video_1 {
  width: 100%!important;
}
/* line 902, ../sass/moments.scss.LOCAL.9468.scss */
#example_video_1 .vjs-big-play-button {
  display: none;
}

/* line 907, ../sass/moments.scss.LOCAL.9468.scss */
#example_video_1 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 915, ../sass/moments.scss.LOCAL.9468.scss */
#example_video_1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  /* line 927, ../sass/moments.scss.LOCAL.9468.scss */
  #tab-container .etabs li {
    width: 100%;
    background-color: #AF2B10;
    background-image: none;
    margin-left: 0px;
  }
  /* line 933, ../sass/moments.scss.LOCAL.9468.scss */
  #tab-container .etabs li.active {
    background-color: black;
    background-image: none;
    margin-left: 0px;
  }

  /* line 942, ../sass/moments.scss.LOCAL.9468.scss */
  .mom_top #chosen_container {
    position: relative;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }

  /* line 949, ../sass/moments.scss.LOCAL.9468.scss */
  #sortable1 li, #sortable2 li {
    width: 100%;
  }

  /* line 953, ../sass/moments.scss.LOCAL.9468.scss */
  .reveal-modal {
    margin-left: -47%;
    width: 94%;
  }

  /* line 958, ../sass/moments.scss.LOCAL.9468.scss */
  .reveal-modal .close-reveal-modal {
    z-index: 999;
    font-size: 2.375em;
    top: -0.5em;
  }

  /* line 964, ../sass/moments.scss.LOCAL.9468.scss */
  .reveal-modal.small {
    margin-left: -47%;
    width: 94%;
  }
}
/**policy notice**/
/* line 972, ../sass/moments.scss.LOCAL.9468.scss */
#policyNotice {
  bottom: 2px;
  left: 50%;
  margin-left: -35%;
  width: 70%;
}

/* line 979, ../sass/moments.scss.LOCAL.9468.scss */
#policyNotice, #policyNotice p, #policyNotice a {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 11px;
  line-height: 11px;
}

/* line 985, ../sass/moments.scss.LOCAL.9468.scss */
#policyNotice {
  background-color: #FFFFCE;
  border: 1px solid #000000;
  color: #000000;
  padding: 10px 10px 0;
  position: fixed;
  z-index: 999;
}

/* line 994, ../sass/moments.scss.LOCAL.9468.scss */
#policyNotice {
  background-color: #FFFFCE;
  border: 1px solid #000000;
  color: #000000;
  padding: 10px 10px 0;
  position: fixed;
  z-index: 999;
}

/* line 1003, ../sass/moments.scss.LOCAL.9468.scss */
#policyNotice .close-btn {
  float: right;
  padding: 4px;
  position: relative;
  right: -8px;
  text-align: center;
  top: -5px;
}

/* line 1012, ../sass/moments.scss.LOCAL.9468.scss */
#policyNotice a, #policyNotice a:visited {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

/* line 1018, ../sass/moments.scss.LOCAL.9468.scss */
#policyNotice .close-btn a, #policyNotice .close-btn a:visited {
  color: #BA0D0D;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

/* line 1025, ../sass/moments.scss.LOCAL.9468.scss */
#ignHeader #ignHeader-userBar {
  background-color: black;
  background-image: none;
}

/* line 1030, ../sass/moments.scss.LOCAL.9468.scss */
select {
  width: 31%;
  margin-bottom: 0px;
  float: left;
  margin-left: 2%;
  font-size: 14px;
}

/**end policy notice**/
/**ie specific**/
/* line 1040, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row {
  width: 940px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}

/* line 1041, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

/* line 1043, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns {
  padding: 0;
}

/* line 1044, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

/* line 1045, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .row.large-collapse {
  margin: 0;
}

/* line 1047, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .column, .lt-ie9 .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

/* line 1048, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .column.large-centered, .columns.large-centered {
  float: none;
  margin: 0 auto;
}

/* line 1050, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 [class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 1051, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 [class*="column"] + [class*="column"].end {
  float: left;
}

/* line 1054, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-1,
.lt-ie9 .row .large-1 {
  width: 8.33333%;
}

/* line 1057, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-2,
.lt-ie9 .row .large-2 {
  width: 16.66667%;
}

/* line 1060, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-3,
.lt-ie9 .row .large-3 {
  width: 25%;
}

/* line 1063, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-4,
.lt-ie9 .row .large-4 {
  width: 33.33333%;
}

/* line 1066, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-5,
.lt-ie9 .row .large-5 {
  width: 41.66667%;
}

/* line 1069, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-6,
.lt-ie9 .row .large-6 {
  width: 50%;
}

/* line 1072, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-7,
.lt-ie9 .row .large-7 {
  width: 58.33333%;
}

/* line 1075, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-8,
.lt-ie9 .row .large-8 {
  width: 66.66667%;
}

/* line 1078, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-9,
.lt-ie9 .row .large-9 {
  width: 75%;
}

/* line 1081, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-10,
.lt-ie9 .row .large-10 {
  width: 83.33333%;
}

/* line 1084, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-11,
.lt-ie9 .row .large-11 {
  width: 91.66667%;
}

/* line 1087, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 {
  width: 100%;
}

/* line 1089, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-1 {
  margin-left: 8.33333%;
}

/* line 1090, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-2 {
  margin-left: 16.66667%;
}

/* line 1091, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-3 {
  margin-left: 25%;
}

/* line 1092, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-4 {
  margin-left: 33.33333%;
}

/* line 1093, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-5 {
  margin-left: 41.66667%;
}

/* line 1094, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-6 {
  margin-left: 50%;
}

/* line 1095, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-7 {
  margin-left: 58.33333%;
}

/* line 1096, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-8 {
  margin-left: 66.66667%;
}

/* line 1097, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-9 {
  margin-left: 75%;
}

/* line 1098, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row .large-offset-10 {
  margin-left: 83.33333%;
}

/* line 1100, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-2 {
  right: 16.66667%;
}

/* line 1101, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-3 {
  right: 25%;
}

/* line 1102, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-4 {
  right: 33.33333%;
}

/* line 1103, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-5 {
  right: 41.66667%;
}

/* line 1104, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-6 {
  right: 50%;
}

/* line 1105, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-7 {
  right: 58.33333%;
}

/* line 1106, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-8 {
  right: 66.66667%;
}

/* line 1107, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-9 {
  right: 75%;
}

/* line 1108, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .pull-10 {
  right: 83.33333%;
}

/* line 1110, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-2 {
  left: 16.66667%;
}

/* line 1111, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-3 {
  left: 25%;
}

/* line 1112, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-4 {
  left: 33.33333%;
}

/* line 1113, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-5 {
  left: 41.66667%;
}

/* line 1114, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-6 {
  left: 50%;
}

/* line 1115, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-7 {
  left: 58.33333%;
}

/* line 1116, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-8 {
  left: 66.66667%;
}

/* line 1117, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-9 {
  left: 75%;
}

/* line 1118, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .push-10 {
  left: 83.33333%;
}

/* Nicolas Gallagher's micro clearfix */
/* line 1121, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row {
  *zoom: 1;
}

/* line 1122, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row:before, .row:after {
  content: " ";
  display: table;
}

/* line 1123, ../sass/moments.scss.LOCAL.9468.scss */
.lt-ie9 .row:after {
  clear: both;
}

/**end ie specific**/
