/**cod moments styles**/
@font-face {
  font-family: 'gotham_thin';
  src: url("../assets/fonts/gotham_thin-webfont.eot");
  src: url("../assets/fonts/gotham_thin-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gotham_thin-webfont.woff") format("woff"), url("../assets/fonts/gotham_thin-webfont.ttf") format("truetype"), url("../assets/fonts/gotham_thin-webfont.svg#gotham_thinregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gotham-ExtraLight';
  src: url("../assets/fonts/Gotham ExtraLight.eot");
  src: local("☺"), url("../assets/fonts/Gotham ExtraLight.woff") format("woff"), url("../assets/fonts/Gotham ExtraLight.ttf") format("truetype"), url("../assets/fonts/Gotham ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-light';
  src: url("assets/fonts/GalaxiePolaris-Light.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Light.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Light.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-bold';
  src: url("assets/fonts/GalaxiePolaris-Bold.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Bold.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Bold.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-book';
  src: url("assets/fonts/GalaxiePolaris-Book.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Book.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Book.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-medium';
  src: url("assets/fonts/GalaxiePolaris-Medium.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Medium.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Medium.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**variable declarations**/
/* line 67, ../sass/moments.scss.REMOTE.9468.scss */
html {
  background-color: black;
}

/* line 71, ../sass/moments.scss.REMOTE.9468.scss */
body {
  background: #7B7B7B;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;*/
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
}

/* line 83, ../sass/moments.scss.REMOTE.9468.scss */
#moments_container {
  background-color: black;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

/**top triangle**/
/* line 91, ../sass/moments.scss.REMOTE.9468.scss */
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent #0c0b0b transparent;
  float: right;
  margin-top: -56px;
  margin-right: -7px;
}

/**end top triangle**/
/**container section**/
/* line 105, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper-2 .row {
  padding: 0px 15px;
}

/* line 110, ../sass/moments.scss.REMOTE.9468.scss */
.hidden {
  display: none;
}

/* line 114, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper, #mom_wrapper-2, #mom_wrapper-3 {
  padding: 40px;
}
/* line 117, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .columns, #mom_wrapper-2 .columns, #mom_wrapper-3 .columns {
  margin-bottom: 45px;
}
/* line 122, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container, #mom_wrapper-2 .row .mom_container, #mom_wrapper-3 .row .mom_container {
  background-color: #0c0b0b;
  color: white;
  cursor: pointer;
  height: auto;
  width: 100%;
  padding-bottom: 10px;
  font-family: galaxie-book;
}
/* line 131, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container figcaption, #mom_wrapper-2 .row .mom_container figcaption, #mom_wrapper-3 .row .mom_container figcaption {
  font-size: 16px;
  font-family: 'galaxie-light';
  line-height: 20px;
}
/* line 137, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container img, #mom_wrapper-2 .row .mom_container img, #mom_wrapper-3 .row .mom_container img {
  margin-bottom: 10px;
}
/* line 141, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container span.corner-tri, #mom_wrapper-2 .row .mom_container span.corner-tri, #mom_wrapper-3 .row .mom_container span.corner-tri {
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 35px 35px 0;
  border-color: transparent #0c0b0b transparent transparent;
  position: absolute;
  right: 7px;
  z-index: 99;
}
/* line 153, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container span.cross, #mom_wrapper-2 .row .mom_container span.cross, #mom_wrapper-3 .row .mom_container span.cross {
  height: 30px;
  width: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  display: block;
  bottom: -20px;
  left: 50%;
  margin-left: -15px;
  border: 5px solid #1e212c;
}
/* line 168, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon, #mom_wrapper-2 .row .mom_container span.cross .cross_icon, #mom_wrapper-3 .row .mom_container span.cross .cross_icon {
  display: block;
  height: 15px;
  width: 17px;
  margin: auto;
  margin-top: 31%;
  margin-left: 21%;
  position: absolute;
}
/* line 177, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon.move_icon, #mom_wrapper-2 .row .mom_container span.cross .cross_icon.move_icon, #mom_wrapper-3 .row .mom_container span.cross .cross_icon.move_icon {
  background: transparent url(../assets/images/move_icon.png) 0px 0px no-repeat;
  display: block;
  height: 23px;
  width: 23px;
  margin-top: 24%;
  margin-left: 16%;
}
/* line 186, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon.spinEffect, #mom_wrapper-2 .row .mom_container span.cross .cross_icon.spinEffect, #mom_wrapper-3 .row .mom_container span.cross .cross_icon.spinEffect {
  -webkit-animation: spin 0.2s linear;
}
/* line 191, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container span.cross.off, #mom_wrapper-2 .row .mom_container span.cross.off, #mom_wrapper-3 .row .mom_container span.cross.off {
  background: #ea0000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ea0000 1%, #b52424 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ea0000), color-stop(100%, #b52424));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ea0000 1%, #b52424 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ea0000 1%, #b52424 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ea0000 1%, #b52424 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ea0000 1%, #b52424 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea0000', endColorstr='#b52424',GradientType=0 );
  /* IE6-9 */
}
/* line 203, ../sass/moments.scss.REMOTE.9468.scss */
#mom_wrapper .row .mom_container span.game_name, #mom_wrapper-2 .row .mom_container span.game_name, #mom_wrapper-3 .row .mom_container span.game_name {
  font-size: 12px;
  font-family: 'galaxie-light';
  margin-top: 10px;
  display: block;
}

/* line 216, ../sass/moments.scss.REMOTE.9468.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 221, ../sass/moments.scss.REMOTE.9468.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 229, ../sass/moments.scss.REMOTE.9468.scss */
.cf {
  *zoom: 1;
}

@-webkit-keyframes spin {
  /* line 236, ../sass/moments.scss.REMOTE.9468.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 237, ../sass/moments.scss.REMOTE.9468.scss */
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

/**end tab styling**/
/**topsection**/
/* line 244, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top {
  height: 535px;
  position: relative;
  /**last selected section**/
  /**end last section**/
}
/* line 249, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top h2 {
  font-size: 17px;
  font-family: 'Conv_Gotham-ExtraLight';
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-align: right;
  opacity: 0;
}
/* line 259, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top h1 {
  font-size: 53px;
  font-family: 'gotham_thin';
  font-weight: normal;
  line-height: 65px;
  color: white;
  text-align: right;
  opacity: 0;
}
/* line 269, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top img {
  float: right;
}
/* line 273, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top .header_text {
  margin-top: 0px;
  height: 535px;
  overflow: hidden;
}
/* line 278, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top .header_text .large-5 {
  padding-right: 20px;
}
/* line 282, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top .header_text .carCont {
  overflow: hidden;
}
/* line 292, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container {
  background-color: #0c0e15;
  border-bottom: 4px solid #20232e;
}
/* line 298, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container .numeric-header {
  height: 52px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
}
/* line 302, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container .numeric-header .number {
  background-color: #0A0D14;
  height: 100%;
  font-style: italic;
  width: 78px;
  float: left;
  margin-right: 18px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 1px;
}
/* line 314, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container .numeric-header .text {
  height: 100%;
  float: left;
  padding-top: 10px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
  font-size: 13px;
}
/* line 325, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container .numeric-header .text span {
  display: block;
  font-size: 12px;
  line-height: 10px;
  color: #99a3ab;
}
/* line 334, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container ul {
  list-style: none;
  height: 171px;
}
/* line 338, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container ul li {
  height: 52px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  padding: 3px;
  border-bottom: 1px solid #2e2e2f;
}
/* line 344, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container ul li span {
  width: 74px;
  height: 41px;
  background-color: #4e4e4e;
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 2px;
  line-height: 10px;
}
/* line 355, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container ul li p {
  float: left;
  font-family: 'galaxie-light';
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

/**end top section**/
/**end container section**/
/**tabs styles**/
/* line 376, ../sass/moments.scss.REMOTE.9468.scss */
.etabs {
  margin: auto;
  padding: 0;
  width: auto;
  background-color: blue;
  position: relative;
}

/* line 377, ../sass/moments.scss.REMOTE.9468.scss */
.tab {
  display: block;
  zoom: 1;
  *display: inline;
  color: white;
  font-family: 'galaxie-light';
  font-style: 300;
}

/* line 378, ../sass/moments.scss.REMOTE.9468.scss */
.tab a {
  font-size: 22px;
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
  color: white;
}

/* line 380, ../sass/moments.scss.REMOTE.9468.scss */
.tab.active {
  background: black;
  position: relative;
}

/* line 381, ../sass/moments.scss.REMOTE.9468.scss */
.tab a.active {
  font-weight: bold;
}

/* line 382, ../sass/moments.scss.REMOTE.9468.scss */
.tab-container .panel-container {
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
}

/**tab_styling**/
/* line 386, ../sass/moments.scss.REMOTE.9468.scss */
li.tab {
  text-align: center;
  height: 60px;
  background-color: #0c0e15;
  border-top: 4px solid #20232e;
  margin-bottom: 30px;
}
/* line 393, ../sass/moments.scss.REMOTE.9468.scss */
li.tab a {
  font-family: 'galaxie-light';
  font-size: 18px;
  padding: 8px 12px;
  width: 200px;
  text-align: center;
  color: grey;
}
/* line 401, ../sass/moments.scss.REMOTE.9468.scss */
li.tab a.active {
  font-weight: normal!important;
}
/* line 406, ../sass/moments.scss.REMOTE.9468.scss */
li.tab.first {
  width: 50%;
  text-align: right;
  float: left;
}
/* line 411, ../sass/moments.scss.REMOTE.9468.scss */
li.tab.first a {
  float: right;
}
/* line 416, ../sass/moments.scss.REMOTE.9468.scss */
li.tab.second {
  width: 50%;
  text-align: left;
  float: right;
}
/* line 421, ../sass/moments.scss.REMOTE.9468.scss */
li.tab.second a {
  float: left;
}
/* line 426, ../sass/moments.scss.REMOTE.9468.scss */
li.tab.active {
  background-color: transparent;
  background-color: #0c0e15;
  font-weight: normal;
}
/* line 431, ../sass/moments.scss.REMOTE.9468.scss */
li.tab.active a {
  border-top: 4px solid #d3222a;
  margin-top: -4px;
  color: white;
}
/* line 437, ../sass/moments.scss.REMOTE.9468.scss */
li.tab.active.second {
  background-color: #0c0e15;
}

/**end tab styles**/
/**modal styles**/
/* line 446, ../sass/moments.scss.REMOTE.9468.scss */
#myModal {
  background-color: black;
  border: none;
}

/**end modal styles**/
/* line 455, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js h1, #tabs1-hidden h1 {
  color: white;
  font-size: 45px;
  font-family: 'galaxie-light';
  font-weight: normal;
  line-height: 65px;
}
/* line 463, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js p, #tabs1-hidden p {
  color: white;
  font-weight: normal;
  font-size: 17px;
  font-family: 'Conv_Gotham-ExtraLight';
}
/* line 470, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper, #tabs1-js #mom_wrapper-2, #tabs1-js #mom_wrapper-3, #tabs1-hidden #mom_wrapper, #tabs1-hidden #mom_wrapper-2, #tabs1-hidden #mom_wrapper-3 {
  padding: 40px;
}
/* line 473, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .border, #tabs1-js #mom_wrapper-2 .border, #tabs1-js #mom_wrapper-3 .border, #tabs1-hidden #mom_wrapper .border, #tabs1-hidden #mom_wrapper-2 .border, #tabs1-hidden #mom_wrapper-3 .border {
  border-top: 1px solid #25272a;
  margin: 25px 0px;
}
/* line 481, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container .mom_pic, #tabs1-js #mom_wrapper-2 .mom_container .mom_pic, #tabs1-js #mom_wrapper-3 .mom_container .mom_pic, #tabs1-hidden #mom_wrapper .mom_container .mom_pic, #tabs1-hidden #mom_wrapper-2 .mom_container .mom_pic, #tabs1-hidden #mom_wrapper-3 .mom_container .mom_pic {
  height: 195px;
  overflow: hidden;
}
/* line 486, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant, #tabs1-js #mom_wrapper-2 .mom_container.vacant, #tabs1-js #mom_wrapper-3 .mom_container.vacant, #tabs1-hidden #mom_wrapper .mom_container.vacant, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant {
  background: url(../assets/images/order-bg.png) top left repeat-x;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 492, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant .mom_pic, #tabs1-js #mom_wrapper-2 .mom_container.vacant .mom_pic, #tabs1-js #mom_wrapper-3 .mom_container.vacant .mom_pic, #tabs1-hidden #mom_wrapper .mom_container.vacant .mom_pic, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant .mom_pic, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant .mom_pic {
  min-height: 195px;
  margin: 0 auto;
  background-size: 100%;
}
/* line 497, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant .mom_pic img, #tabs1-js #mom_wrapper-2 .mom_container.vacant .mom_pic img, #tabs1-js #mom_wrapper-3 .mom_container.vacant .mom_pic img, #tabs1-hidden #mom_wrapper .mom_container.vacant .mom_pic img, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant .mom_pic img, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant .mom_pic img {
  width: 140px;
  height: 195px;
  background-color: white;
}
/* line 508, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant img, #tabs1-js #mom_wrapper-2 .mom_container.vacant img, #tabs1-js #mom_wrapper-3 .mom_container.vacant img, #tabs1-hidden #mom_wrapper .mom_container.vacant img, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant img, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant img {
  margin-bottom: 0px;
  width: 140px;
  height: 195px;
  background-color: white;
}
/* line 515, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant p, #tabs1-js #mom_wrapper-2 .mom_container.vacant p, #tabs1-js #mom_wrapper-3 .mom_container.vacant p, #tabs1-hidden #mom_wrapper .mom_container.vacant p, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant p, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant p {
  font-family: 'Conv_Gotham-ExtraLight';
  text-align: center;
  position: relative;
  padding: 30px 15% 10px;
  width: auto;
  color: #cdd4db;
  font-size: 18px;
}
/* line 525, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant figcaption, #tabs1-js #mom_wrapper-2 .mom_container.vacant figcaption, #tabs1-js #mom_wrapper-3 .mom_container.vacant figcaption, #tabs1-hidden #mom_wrapper .mom_container.vacant figcaption, #tabs1-hidden #mom_wrapper-2 .mom_container.vacant figcaption, #tabs1-hidden #mom_wrapper-3 .mom_container.vacant figcaption {
  font-size: 16px;
  display: block;
  height: auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: block;
  color: #cdd4db;
  font-family: 'galaxie-medium';
}
/* line 539, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged, #tabs1-js #mom_wrapper-2 .mom_container.dragged, #tabs1-js #mom_wrapper-3 .mom_container.dragged, #tabs1-hidden #mom_wrapper .mom_container.dragged, #tabs1-hidden #mom_wrapper-2 .mom_container.dragged, #tabs1-hidden #mom_wrapper-3 .mom_container.dragged {
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 544, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged img, #tabs1-js #mom_wrapper-2 .mom_container.dragged img, #tabs1-js #mom_wrapper-3 .mom_container.dragged img, #tabs1-hidden #mom_wrapper .mom_container.dragged img, #tabs1-hidden #mom_wrapper-2 .mom_container.dragged img, #tabs1-hidden #mom_wrapper-3 .mom_container.dragged img {
  margin-bottom: 0px;
}
/* line 549, ../sass/moments.scss.REMOTE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged figcaption, #tabs1-js #mom_wrapper-2 .mom_container.dragged figcaption, #tabs1-js #mom_wrapper-3 .mom_container.dragged figcaption, #tabs1-hidden #mom_wrapper .mom_container.dragged figcaption, #tabs1-hidden #mom_wrapper-2 .mom_container.dragged figcaption, #tabs1-hidden #mom_wrapper-3 .mom_container.dragged figcaption {
  font-size: 40px;
  width: 100%;
  display: block;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  height: 214px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 102px;
  color: #cdd4db;
  font-family: 'galaxie-medium';
  margin-left: -100%;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  /*span {
    display: block;
    background: transparent url(../assets/images/opacity.png) top left repeat;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    border: 2px solid #fff;
    margin: auto;
    margin-top: 55px;
    line-height: 75px;
  }*/
}

/**carousel styles**/
/* line 584, ../sass/moments.scss.REMOTE.9468.scss */
.list_carousel {
  width: 100%;
}

/* line 587, ../sass/moments.scss.REMOTE.9468.scss */
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

/* line 593, ../sass/moments.scss.REMOTE.9468.scss */
.list_carousel li {
  font-size: 40px;
  color: #999;
  text-align: center;
  display: block;
  float: left;
  width: 214px;
  height: 121px;
  margin: 0px 10px;
}
/* line 603, ../sass/moments.scss.REMOTE.9468.scss */
.list_carousel li img {
  width: 214px;
  height: 121px;
  max-width: none;
}

/* line 609, ../sass/moments.scss.REMOTE.9468.scss */
.list_carousel.responsive {
  width: auto;
  margin-left: 0;
}

/* line 613, ../sass/moments.scss.REMOTE.9468.scss */
.clearfix {
  float: none;
  clear: both;
}

/* line 617, ../sass/moments.scss.REMOTE.9468.scss */
.prev {
  float: left;
  margin-left: 10px;
}

/* line 621, ../sass/moments.scss.REMOTE.9468.scss */
.next {
  float: right;
  margin-right: 10px;
}

/* line 625, ../sass/moments.scss.REMOTE.9468.scss */
.pager {
  float: left;
  width: 300px;
  text-align: center;
}

/* line 630, ../sass/moments.scss.REMOTE.9468.scss */
.pager a {
  margin: 0 5px;
  text-decoration: none;
}

/* line 634, ../sass/moments.scss.REMOTE.9468.scss */
.pager a.selected {
  text-decoration: underline;
}

/* line 637, ../sass/moments.scss.REMOTE.9468.scss */
.timer {
  background-color: #999;
  height: 6px;
  width: 0px;
}

/**Draggable styles**/
/**end carousel styles**/
/* line 649, ../sass/moments.scss.REMOTE.9468.scss */
#sortable1 li, #sortable2 li {
  width: 18%;
  float: left;
  margin: 15px 1%;
}
/* line 654, ../sass/moments.scss.REMOTE.9468.scss */
#sortable1 li .large-3, #sortable2 li .large-3 {
  width: 100%;
}

/**end draggable styles**/
/**submit**/
/* line 664, ../sass/moments.scss.REMOTE.9468.scss */
#moment_submit, #modal_submit, #list_submit, #own_submit, #shortlist_submit, #submit_birthdate {
  height: auto;
  width: auto;
  border: 2px solid #46484d;
  float: left;
  margin-top: 5px;
  padding: 10px 25px 15px;
  text-align: center;
  color: #46484d;
  font-family: 'galaxie-medium';
  font-size: 25px;
  letter-spacing: 5px;
}

/* line 678, ../sass/moments.scss.REMOTE.9468.scss */
#submit_birthdate {
  margin-top: -25px;
}

/* line 682, ../sass/moments.scss.REMOTE.9468.scss */
#list_submit {
  width: 65%;
  margin: 0px auto;
}

/* line 687, ../sass/moments.scss.REMOTE.9468.scss */
#own_submit {
  margin: 0px auto 20px;
  width: 50%;
}

/* line 692, ../sass/moments.scss.REMOTE.9468.scss */
#moment_submit {
  height: auto;
  width: 270px;
  border: 2px solid #46484d;
  margin-top: 5px;
  padding: 10px 25px 15px;
  text-align: center;
  color: #46484d;
  font-family: 'galaxie-light';
  font-size: 33px;
  letter-spacing: 5px;
  margin: auto;
  display: block;
  float: none;
  margin-bottom: 30px;
}

/**end submit**/
/* line 712, ../sass/moments.scss.REMOTE.9468.scss */
.ui-sortable-helper figcaption {
  display: none!important;
}

/* line 717, ../sass/moments.scss.REMOTE.9468.scss */
li.vacant {
  padding: 0px!important;
  display: block;
  height: 217px;
  width: 18%;
  float: left;
  margin: 15px 1%;
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 726, ../sass/moments.scss.REMOTE.9468.scss */
li.vacant .mom_pic {
  min-height: 118px;
  margin: 0 auto;
  background-size: 100%;
}
/* line 736, ../sass/moments.scss.REMOTE.9468.scss */
li.vacant img {
  margin-bottom: 0px;
}
/* line 741, ../sass/moments.scss.REMOTE.9468.scss */
li.vacant p {
  font-family: 'Conv_Gotham-ExtraLight';
  text-align: center;
  position: absolute;
  padding: 0px 15%;
  margin-top: 28%;
  width: 85%;
  color: #cdd4db;
  font-size: 14px;
}
/* line 752, ../sass/moments.scss.REMOTE.9468.scss */
li.vacant figcaption {
  font-size: 40px;
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 75px;
  color: #cdd4db;
  font-family: 'gotham_thin';
}

/**sticky header**/
/* line 772, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top .sticky-wrapper {
  margin-top: 24px;
}
/* line 776, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container {
  color: white;
  font-family: 'galaxie-light';
  font-size: 14px;
  width: 420px;
  height: 52px;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  margin: auto;
  left: 50%;
  margin-left: -210px;
}
/* line 790, ../sass/moments.scss.REMOTE.9468.scss */
.mom_top #chosen_container.stuck {
  position: fixed;
  top: 0px;
  margin-top: 0px;
  margin-left: -193px;
  left: 50%;
}

/**end sticky header**/
/**vid modal**/
/* line 803, ../sass/moments.scss.REMOTE.9468.scss */
.play_icon {
  /*background: url(../assets/images/play_btn.png);*/
  height: 30px;
  width: 60px;
  position: absolute;
  margin: auto;
  right: 69%;
  margin-top: 26%;
  margin-top: 20%;
  opacity: 1;
  pointer-events: none;
  top: 0px;
}

/* line 817, ../sass/moments.scss.REMOTE.9468.scss */
#vid_modal {
  background-color: transparent;
  border: none;
}

/* line 823, ../sass/moments.scss.REMOTE.9468.scss */
.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.8);
}

/* line 827, ../sass/moments.scss.REMOTE.9468.scss */
.reveal-modal.small {
  margin-left: -184px;
  width: 500px;
  background-color: #0c0c0c;
  color: white;
  border: 1px solid #212120;
}
/* line 835, ../sass/moments.scss.REMOTE.9468.scss */
.reveal-modal.small p a {
  color: #999999;
}
/* line 837, ../sass/moments.scss.REMOTE.9468.scss */
.reveal-modal.small p a:hover {
  text-decoration: underline;
}
/* line 844, ../sass/moments.scss.REMOTE.9468.scss */
.reveal-modal.small h3, .reveal-modal.small h2 {
  font-family: 'galaxie-light';
  color: white;
  font-size: 26px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
}
/* line 853, ../sass/moments.scss.REMOTE.9468.scss */
.reveal-modal.small p {
  font-family: 'Conv_Gotham-ExtraLight';
  font-size: 16px;
  text-align: center;
}

/* line 860, ../sass/moments.scss.REMOTE.9468.scss */
#list_modal {
  margin-left: -17.5%;
  width: 35%;
}
/* line 864, ../sass/moments.scss.REMOTE.9468.scss */
#list_modal ul {
  list-style: none;
}
/* line 867, ../sass/moments.scss.REMOTE.9468.scss */
#list_modal ul li {
  height: 55px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  padding: 3px;
}
/* line 872, ../sass/moments.scss.REMOTE.9468.scss */
#list_modal ul li span {
  width: 74px;
  height: 41px;
  background-color: #4e4e4e;
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 2px;
  line-height: 10px;
}
/* line 883, ../sass/moments.scss.REMOTE.9468.scss */
#list_modal ul li p {
  float: left;
  font-family: 'galaxie-light';
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 57%;
  font-size: 12px;
}

/**end vid modal**/
/**spin**/
@-moz-keyframes spin {
  /* line 903, ../sass/moments.scss.REMOTE.9468.scss */
  100% {
    -moz-transform: rotate(45deg);
  }
}

@-webkit-keyframes spin {
  /* line 904, ../sass/moments.scss.REMOTE.9468.scss */
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes spin {
  /* line 905, ../sass/moments.scss.REMOTE.9468.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(45deg);
  }
}

/**end spin**/
/**share buttons**/
/* line 910, ../sass/moments.scss.REMOTE.9468.scss */
#share_btns {
  margin-top: 20px;
}

/* line 914, ../sass/moments.scss.REMOTE.9468.scss */
#twitter {
  width: 153px;
  height: 34px;
  display: block;
  line-height: 0px;
  font-size: 0px;
  float: right;
}
/* line 922, ../sass/moments.scss.REMOTE.9468.scss */
#twitter .share {
  background: url(../assets/images/shar_sprite.png);
  display: block;
  height: 34px;
  width: 100%;
  background-position: 0px 34px;
}
/* line 929, ../sass/moments.scss.REMOTE.9468.scss */
#twitter .count {
  float: right;
  font-size: 13px;
  color: black;
  line-height: 33px;
  text-align: center;
  margin-right: 18px;
  font-family: 'galaxie-medium';
  font-family: 'galaxie-medium';
  color: #006dae;
}

/* line 942, ../sass/moments.scss.REMOTE.9468.scss */
#facebook {
  width: 153px;
  height: 34px;
  display: block;
  line-height: 0px;
  font-size: 0px;
  float: left;
}
/* line 950, ../sass/moments.scss.REMOTE.9468.scss */
#facebook .share {
  background: url(../assets/images/shar_sprite.png);
  display: block;
  height: 34px;
  width: 100%;
}
/* line 956, ../sass/moments.scss.REMOTE.9468.scss */
#facebook .count {
  float: right;
  font-size: 13px;
  color: black;
  line-height: 33px;
  text-align: center;
  margin-right: 18px;
  font-family: 'galaxie-medium';
  color: #3b539d;
}

/**end share buttons**/
/* line 969, ../sass/moments.scss.REMOTE.9468.scss */
#sortable1 .ui-sortable-helper {
  margin-right: -200px;
}
/* line 973, ../sass/moments.scss.REMOTE.9468.scss */
#sortable1 .ui-state-default {
  background-color: none;
  list-style: none;
  border: none;
  background: transparent;
}
/* line 979, ../sass/moments.scss.REMOTE.9468.scss */
#sortable1 .ui-state-default select {
  display: none;
}

/* line 985, ../sass/moments.scss.REMOTE.9468.scss */
#bespoke_list {
  background-color: #0c0b0b;
  padding: 20px 20px 0px;
}
/* line 989, ../sass/moments.scss.REMOTE.9468.scss */
#bespoke_list a {
  margin: 0px auto;
}

/* line 996, ../sass/moments.scss.REMOTE.9468.scss */
.myMoments #mom_wrapper {
  padding-top: 20px;
}
/* line 1000, ../sass/moments.scss.REMOTE.9468.scss */
.myMoments #inject {
  display: none;
}
/* line 1004, ../sass/moments.scss.REMOTE.9468.scss */
.myMoments #inject .titleInject {
  font-size: 53px;
  font-family: 'gotham_thin';
  font-weight: normal;
  line-height: 45px;
  color: white;
  text-align: left;
  margin-top: 0px;
  line-height: 60px;
}

/* line 1017, ../sass/moments.scss.REMOTE.9468.scss */
#example_video_1 {
  width: 100%!important;
}
/* line 1020, ../sass/moments.scss.REMOTE.9468.scss */
#example_video_1 .vjs-big-play-button {
  display: none;
}

/* line 1025, ../sass/moments.scss.REMOTE.9468.scss */
#example_video_1 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 1033, ../sass/moments.scss.REMOTE.9468.scss */
#example_video_1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/********8888NEW GAME GEN STYLES*********/
/*.pag_wrapper {
  padding: 5px;
  background-color: black;  
}*/
/* line 1054, ../sass/moments.scss.REMOTE.9468.scss */
.bottom-pos {
  position: absolute;
  bottom: 0px;
}

/* line 1059, ../sass/moments.scss.REMOTE.9468.scss */
.caption {
  height: 150px;
  width: 300px;
  float: right;
  margin-left: 180px;
  margin-top: 100px;
}
/* line 1066, ../sass/moments.scss.REMOTE.9468.scss */
.caption .left-panel {
  float: left;
  border-right: 2px solid #ffffff;
  width: 150px;
  height: 100%;
  text-align: right;
  padding-right: 15px;
}
/* line 1074, ../sass/moments.scss.REMOTE.9468.scss */
.caption .left-panel span {
  color: white;
  text-transform: uppercase;
  font-family: 'galaxie-medium';
  margin-top: -7px;
  display: block;
}
/* line 1083, ../sass/moments.scss.REMOTE.9468.scss */
.caption .right-panel {
  float: left;
  width: 150px;
  height: 100%;
  text-align: left;
  padding-left: 15px;
}
/* line 1091, ../sass/moments.scss.REMOTE.9468.scss */
.caption .game_input {
  font-family: 'galaxie-medium';
  font-size: 12px;
  display: block;
  margin: 5px 0px 0px;
  color: white;
}
/* line 1099, ../sass/moments.scss.REMOTE.9468.scss */
.caption .game_answer {
  font-family: 'galaxie-light';
  font-size: 12px;
  display: block;
  margin: 5px 0px 0px;
  color: white;
}

/* line 1108, ../sass/moments.scss.REMOTE.9468.scss */
.pagination {
  position: absolute;
  z-index: 98;
  bottom: 40px;
  right: 0px;
  background-color: black;
  padding: 8px 2px 15px 9px;
  border-bottom: 1px solid #20222D;
}
/* line 1117, ../sass/moments.scss.REMOTE.9468.scss */
.pagination a {
  font-size: 0px;
  height: 8px;
  width: 8px;
  border: 2px solid #fff;
  display: block;
  border-radius: 5px;
  float: left;
  margin-right: 7px;
}
/* line 1127, ../sass/moments.scss.REMOTE.9468.scss */
.pagination a.selected {
  background-color: white;
}

/* line 1133, ../sass/moments.scss.REMOTE.9468.scss */
#vote-btn {
  height: 35px;
  width: 100px;
  border: 2px solid #46484d;
  float: right;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  color: #46484d;
  font-family: 'galaxie-medium';
  font-size: 18px;
  letter-spacing: 4px;
  margin-right: 8px;
}

/* line 1148, ../sass/moments.scss.REMOTE.9468.scss */
.rcaroufredsel_wrapper {
  margin-bottom: 0px;
}

/* line 1153, ../sass/moments.scss.REMOTE.9468.scss */
#carousel li {
  display: block;
  float: left;
}

/* line 1162, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen #reason {
  height: 80px;
  font-family: 'galaxie-book';
}
/* line 1164, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .ui-state-default .chosen-container {
  display: none;
}
/* line 1169, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .game-container {
  height: 195px;
  width: 50%;
  display: block;
  background-color: white;
  float: left;
  margin-right: 10px;
  margin-top: -10px;
  overflow: hidden;
}
/* line 1180, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .caption {
  position: absolute;
}
/* line 1184, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container {
  border: none;
  box-shadow: none;
}
/* line 1188, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-single {
  border-radius: 0px;
  background: #20232e;
  border: none;
  color: white;
  box-shadow: none;
  height: 33px;
  padding: 5px;
  font-family: 'galaxie-light';
}
/* line 1198, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-single div {
  background-color: #0c0e15;
  width: 35px;
}
/* line 1202, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-single div b {
  background: url(../assets/images/down-arrow.png) center center no-repeat;
}
/* line 1208, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-drop {
  background-color: #20232e;
  border: none;
  border-radius: 0px;
}
/* line 1213, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-drop .chosen-results {
  margin: 0px;
  padding: 0px;
}
/* line 1217, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-drop .chosen-results li {
  padding: 8px 5px 10px;
}
/* line 1220, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-drop .chosen-results li.highlighted {
  background-color: #d3222a;
  background-image: none;
}
/* line 1227, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-drop li {
  color: white;
  font-family: 'galaxie-light';
}
/* line 1232, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .chosen-container .chosen-drop .chosen-search {
  display: none;
}
/* line 1238, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .process-num {
  border: 2px solid white;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  line-height: 39px;
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
/* line 1253, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen #mom_wrapper .mom_container {
  background-color: #0c0e15;
  border-top: 5px solid #20232e;
  height: 195px;
  padding-top: 5px;
}
/* line 1259, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen #mom_wrapper .mom_container .game_name {
  margin-bottom: 10px;
}
/* line 1263, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen #mom_wrapper .mom_container .game_input {
  font-family: 'galaxie-medium';
  font-size: 12px;
  display: block;
  margin: 5px 0px 0px;
}
/* line 1270, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen #mom_wrapper .mom_container .game_answer {
  font-family: 'galaxie-light';
  font-size: 12px;
  display: block;
  margin: 5px 0px 0px;
}
/* line 1279, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .top-text {
  display: none;
}
/* line 1282, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .top-text h2 {
  text-align: right;
  font-family: 'galaxie-light';
  color: white;
  margin-top: 0px;
  line-height: 50px;
  font-size: 45px;
  font-weight: normal;
}
/* line 1292, ../sass/moments.scss.REMOTE.9468.scss */
#game-gen .top-text h3 {
  text-align: left;
  font-family: 'galaxie-light';
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding-right: 60px;
}

/* line 1303, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops {
  height: 50px;
  position: relative;
  padding: 30px 26px 0px;
}
/* line 1309, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops label {
  position: absolute;
  right: 14px;
  height: 30px;
  width: 30px;
  font-size: 0px;
  line-height: 0px;
  background: black url(../assets/images/search-icon.jpg) center center no-repeat;
  top: 1px;
}
/* line 1320, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops select {
  margin: 0px auto 20px;
  width: 100%;
}
/* line 1325, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops input {
  float: right;
  width: 100%;
  background-color: black;
  border: 1px solid #4c4c4c;
  font-family: 'galaxie-medium';
  color: #4c4c4c;
}
/* line 1334, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops #alpha-list {
  list-style: none;
}
/* line 1337, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops #alpha-list li {
  float: left;
  padding: 0px 0px 3px;
  font-size: 14px;
  border-bottom: 1px solid;
  width: 18px;
}
/* line 1344, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops #alpha-list li.selected {
  border-bottom: 1px solid #d3222a;
}
/* line 1347, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops #alpha-list li.selected a {
  color: white;
  font-family: 'galaxie-bold';
}
/* line 1353, ../sass/moments.scss.REMOTE.9468.scss */
form.selection-ops #alpha-list li a {
  color: #4C4C4C;
  font-family: 'galaxie-medium';
  text-align: center;
  width: 100%;
  display: block;
}

/* line 1365, ../sass/moments.scss.REMOTE.9468.scss */
.etabs.stuck {
  position: fixed;
  top: 0px;
  margin-top: 0px;
  margin-left: -193px;
  left: 50%;
}

/* line 1375, ../sass/moments.scss.REMOTE.9468.scss */
.title-blok img {
  margin: 80px auto 0px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -37%;
}

/**********END GAME GEN STYLES**********/
@media only screen and (max-width: 767px) {
  /* line 1391, ../sass/moments.scss.REMOTE.9468.scss */
  #moment_submit {
    margin-bottom: 60px;
  }

  /* line 1395, ../sass/moments.scss.REMOTE.9468.scss */
  #sortable1 .ui-state-default {
    position: relative;
  }
  /* line 1398, ../sass/moments.scss.REMOTE.9468.scss */
  #sortable1 .ui-state-default .chosen-container {
    display: block;
    margin-bottom: 5px;
  }
  /* line 1400, ../sass/moments.scss.REMOTE.9468.scss */
  #sortable1 .ui-state-default select {
    width: auto;
    position: absolute;
    margin-left: 0px;
    display: block;
  }

  /* line 1408, ../sass/moments.scss.REMOTE.9468.scss */
  #game-gen .chosen-container {
    margin-bottom: 20px;
  }

  /* line 1412, ../sass/moments.scss.REMOTE.9468.scss */
  #game-gen .top-text h3 {
    padding: 0px 20px;
    font-size: 15px;
  }

  /* line 1419, ../sass/moments.scss.REMOTE.9468.scss */
  #tab-container .etabs.stuck {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    margin-left: -193px;
    left: 50%;
  }
  /* line 1428, ../sass/moments.scss.REMOTE.9468.scss */
  #tab-container .etabs li {
    background-image: none;
    margin-left: 0px;
    width: 50%;
  }
  /* line 1433, ../sass/moments.scss.REMOTE.9468.scss */
  #tab-container .etabs li a {
    text-align: center;
    width: 100%;
    float: right;
    text-align: center;
  }
  /* line 1440, ../sass/moments.scss.REMOTE.9468.scss */
  #tab-container .etabs li.active {
    background-image: none;
    margin-left: 0px;
  }

  /* line 1448, ../sass/moments.scss.REMOTE.9468.scss */
  #game-gen .top-text h2 {
    text-align: center;
  }
  /* line 1452, ../sass/moments.scss.REMOTE.9468.scss */
  #game-gen .top-text h3 {
    text-align: center;
  }

  /* line 1457, ../sass/moments.scss.REMOTE.9468.scss */
  .mom_top #chosen_container {
    position: relative;
    margin: auto;
  }

  /* line 1462, ../sass/moments.scss.REMOTE.9468.scss */
  #sortable1 li, #sortable2 li {
    width: 100%;
  }

  /* line 1466, ../sass/moments.scss.REMOTE.9468.scss */
  .reveal-modal {
    margin-left: -47%;
    width: 94%;
  }

  /* line 1471, ../sass/moments.scss.REMOTE.9468.scss */
  .reveal-modal .close-reveal-modal {
    z-index: 999;
    font-size: 2.375em;
    top: -0.5em;
  }

  /* line 1477, ../sass/moments.scss.REMOTE.9468.scss */
  .reveal-modal.small {
    margin-left: -47%;
    width: 94%;
  }
}
/**policy notice**/
/* line 1485, ../sass/moments.scss.REMOTE.9468.scss */
#policyNotice {
  bottom: 2px;
  left: 50%;
  margin-left: -35%;
  width: 70%;
}

/* line 1492, ../sass/moments.scss.REMOTE.9468.scss */
#policyNotice, #policyNotice p, #policyNotice a {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 11px;
  line-height: 11px;
}

/* line 1498, ../sass/moments.scss.REMOTE.9468.scss */
#policyNotice {
  background-color: #FFFFCE;
  border: 1px solid #000000;
  color: #000000;
  padding: 10px 10px 0;
  position: fixed;
  z-index: 999;
}

/* line 1507, ../sass/moments.scss.REMOTE.9468.scss */
#policyNotice {
  background-color: #FFFFCE;
  border: 1px solid #000000;
  color: #000000;
  padding: 10px 10px 0;
  position: fixed;
  z-index: 999;
}

/* line 1516, ../sass/moments.scss.REMOTE.9468.scss */
#policyNotice .close-btn {
  float: right;
  padding: 4px;
  position: relative;
  right: -8px;
  text-align: center;
  top: -5px;
}

/* line 1525, ../sass/moments.scss.REMOTE.9468.scss */
#policyNotice a, #policyNotice a:visited {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

/* line 1531, ../sass/moments.scss.REMOTE.9468.scss */
#policyNotice .close-btn a, #policyNotice .close-btn a:visited {
  color: #BA0D0D;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

/* line 1538, ../sass/moments.scss.REMOTE.9468.scss */
#ignHeader #ignHeader-userBar {
  background-color: black;
  background-image: none;
}

/* line 1543, ../sass/moments.scss.REMOTE.9468.scss */
select {
  width: 31%;
  margin-bottom: 0px;
  float: left;
  margin-left: 2%;
  font-size: 14px;
}

/**end policy notice**/
/**ie specific**/
/* line 1553, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row {
  width: 940px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}

/* line 1554, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

/* line 1556, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns {
  padding: 0;
}

/* line 1557, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

/* line 1558, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .row.large-collapse {
  margin: 0;
}

/* line 1560, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .column, .lt-ie9 .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

/* line 1561, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .column.large-centered, .columns.large-centered {
  float: none;
  margin: 0 auto;
}

/* line 1563, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 [class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 1564, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 [class*="column"] + [class*="column"].end {
  float: left;
}

/* line 1567, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-1,
.lt-ie9 .row .large-1 {
  width: 8.33333%;
}

/* line 1570, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-2,
.lt-ie9 .row .large-2 {
  width: 16.66667%;
}

/* line 1573, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-3,
.lt-ie9 .row .large-3 {
  width: 25%;
}

/* line 1576, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-4,
.lt-ie9 .row .large-4 {
  width: 33.33333%;
}

/* line 1579, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-5,
.lt-ie9 .row .large-5 {
  width: 41.66667%;
}

/* line 1582, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-6,
.lt-ie9 .row .large-6 {
  width: 50%;
}

/* line 1585, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-7,
.lt-ie9 .row .large-7 {
  width: 58.33333%;
}

/* line 1588, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-8,
.lt-ie9 .row .large-8 {
  width: 66.66667%;
}

/* line 1591, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-9,
.lt-ie9 .row .large-9 {
  width: 75%;
}

/* line 1594, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-10,
.lt-ie9 .row .large-10 {
  width: 83.33333%;
}

/* line 1597, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-11,
.lt-ie9 .row .large-11 {
  width: 91.66667%;
}

/* line 1600, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 {
  width: 100%;
}

/* line 1602, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-1 {
  margin-left: 8.33333%;
}

/* line 1603, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-2 {
  margin-left: 16.66667%;
}

/* line 1604, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-3 {
  margin-left: 25%;
}

/* line 1605, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-4 {
  margin-left: 33.33333%;
}

/* line 1606, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-5 {
  margin-left: 41.66667%;
}

/* line 1607, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-6 {
  margin-left: 50%;
}

/* line 1608, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-7 {
  margin-left: 58.33333%;
}

/* line 1609, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-8 {
  margin-left: 66.66667%;
}

/* line 1610, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-9 {
  margin-left: 75%;
}

/* line 1611, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row .large-offset-10 {
  margin-left: 83.33333%;
}

/* line 1613, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-2 {
  right: 16.66667%;
}

/* line 1614, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-3 {
  right: 25%;
}

/* line 1615, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-4 {
  right: 33.33333%;
}

/* line 1616, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-5 {
  right: 41.66667%;
}

/* line 1617, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-6 {
  right: 50%;
}

/* line 1618, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-7 {
  right: 58.33333%;
}

/* line 1619, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-8 {
  right: 66.66667%;
}

/* line 1620, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-9 {
  right: 75%;
}

/* line 1621, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .pull-10 {
  right: 83.33333%;
}

/* line 1623, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-2 {
  left: 16.66667%;
}

/* line 1624, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-3 {
  left: 25%;
}

/* line 1625, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-4 {
  left: 33.33333%;
}

/* line 1626, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-5 {
  left: 41.66667%;
}

/* line 1627, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-6 {
  left: 50%;
}

/* line 1628, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-7 {
  left: 58.33333%;
}

/* line 1629, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-8 {
  left: 66.66667%;
}

/* line 1630, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-9 {
  left: 75%;
}

/* line 1631, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .push-10 {
  left: 83.33333%;
}

/* Nicolas Gallagher's micro clearfix */
/* line 1634, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row {
  *zoom: 1;
}

/* line 1635, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row:before, .row:after {
  content: " ";
  display: table;
}

/* line 1636, ../sass/moments.scss.REMOTE.9468.scss */
.lt-ie9 .row:after {
  clear: both;
}

/**end ie specific**/
