/**cod moments styles**/
@font-face {
  font-family: 'gotham_thin';
  src: url("../assets/fonts/gotham_thin-webfont.eot");
  src: url("../assets/fonts/gotham_thin-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gotham_thin-webfont.woff") format("woff"), url("../assets/fonts/gotham_thin-webfont.ttf") format("truetype"), url("../assets/fonts/gotham_thin-webfont.svg#gotham_thinregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gotham-ExtraLight';
  src: url("../assets/fonts/Gotham ExtraLight.eot");
  src: local("☺"), url("../assets/fonts/Gotham ExtraLight.woff") format("woff"), url("../assets/fonts/Gotham ExtraLight.ttf") format("truetype"), url("../assets/fonts/Gotham ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-light';
  src: url("assets/fonts/GalaxiePolaris-Light.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Light.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Light.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-bold';
  src: url("assets/fonts/GalaxiePolaris-Bold.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Bold.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Bold.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-book';
  src: url("assets/fonts/GalaxiePolaris-Book.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Book.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Book.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-medium';
  src: url("assets/fonts/GalaxiePolaris-Medium.eot");
  src: local("☺"), url("../assets/fonts/GalaxiePolaris-Medium.woff") format("woff"), url("../assets/fonts/GalaxiePolaris-Medium.ttf") format("truetype"), url("../assets/fonts/GalaxiePolaris-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**variable declarations**/
/* line 67, ../sass/moments.scss.BASE.9468.scss */
html {
  background-color: black;
}

/* line 71, ../sass/moments.scss.BASE.9468.scss */
body {
  background: black url(../assets/images/cod-moments-bg.jpg);
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;*/
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
}
/* line 82, ../sass/moments.scss.BASE.9468.scss */
body .row {
  max-width: 62.85em;
}

/* line 87, ../sass/moments.scss.BASE.9468.scss */
#moments_container {
  /*background-color: black;*/
}

/**top triangle**/
/* line 92, ../sass/moments.scss.BASE.9468.scss */
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent #0c0b0b transparent;
  float: right;
  margin-top: -56px;
  margin-right: -7px;
}

/**end top triangle**/
/**container section**/
/* line 105, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper, #mom_wrapper-2 {
  background: #0c0b0b url(../assets/images/right_pattern.png) right repeat-y;
  padding: 40px 15px;
}
/* line 109, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row, #mom_wrapper-2 .row {
  margin-bottom: 15px;
}
/* line 112, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container, #mom_wrapper-2 .row .mom_container {
  background-color: #0c0b0b;
  color: white;
  cursor: pointer;
  height: auto;
  width: 100%;
  padding-bottom: 5px;
  font-family: galaxie-book;
}
/* line 121, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container figcaption, #mom_wrapper-2 .row .mom_container figcaption {
  font-size: 16px;
  font-family: 'galaxie-light';
  line-height: 20px;
}
/* line 127, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container img, #mom_wrapper-2 .row .mom_container img {
  margin-bottom: 10px;
}
/* line 131, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container span.corner-tri, #mom_wrapper-2 .row .mom_container span.corner-tri {
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 35px 35px 0;
  border-color: transparent #0c0b0b transparent transparent;
  position: absolute;
  right: 7px;
  z-index: 99;
}
/* line 143, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container span.cross, #mom_wrapper-2 .row .mom_container span.cross {
  display: block;
  height: 37px;
  width: 37px;
  background-color: #af2b10;
  position: absolute;
  margin-top: -47px;
  cursor: pointer;
}
/* line 152, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon, #mom_wrapper-2 .row .mom_container span.cross .cross_icon {
  background: transparent url(../assets/images/cod_sprite.png) 0px 0px no-repeat;
  display: block;
  height: 15px;
  width: 17px;
  margin: auto;
  margin-top: 31%;
  margin-left: 21%;
  position: absolute;
}
/* line 162, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon.move_icon, #mom_wrapper-2 .row .mom_container span.cross .cross_icon.move_icon {
  background: transparent url(../assets/images/move_icon.png) 0px 0px no-repeat;
  display: block;
  height: 23px;
  width: 23px;
  margin-top: 24%;
  margin-left: 16%;
}
/* line 171, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container span.cross .cross_icon.spinEffect, #mom_wrapper-2 .row .mom_container span.cross .cross_icon.spinEffect {
  -webkit-animation: spin 0.2s linear;
}
/* line 176, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container span.cross.off, #mom_wrapper-2 .row .mom_container span.cross.off {
  background-color: #2d3536;
}
/* line 181, ../sass/moments.scss.BASE.9468.scss */
#mom_wrapper .row .mom_container span.game_name, #mom_wrapper-2 .row .mom_container span.game_name {
  font-size: 12px;
  font-family: 'galaxie-light';
  margin-top: 10px;
  display: block;
}

/* line 194, ../sass/moments.scss.BASE.9468.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 199, ../sass/moments.scss.BASE.9468.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 207, ../sass/moments.scss.BASE.9468.scss */
.cf {
  *zoom: 1;
}

@-webkit-keyframes spin {
  /* line 214, ../sass/moments.scss.BASE.9468.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 215, ../sass/moments.scss.BASE.9468.scss */
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

/**end tab styling**/
/**topsection**/
/* line 222, ../sass/moments.scss.BASE.9468.scss */
.mom_top {
  height: 385px;
  position: relative;
  /**last selected section**/
  /**end last section**/
}
/* line 227, ../sass/moments.scss.BASE.9468.scss */
.mom_top h2 {
  font-size: 18px;
  font-family: 'Conv_Gotham-ExtraLight';
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-align: right;
}
/* line 236, ../sass/moments.scss.BASE.9468.scss */
.mom_top h1 {
  font-size: 53px;
  font-family: 'gotham_thin';
  font-weight: normal;
  line-height: 65px;
  color: white;
  text-align: right;
}
/* line 245, ../sass/moments.scss.BASE.9468.scss */
.mom_top img {
  float: right;
}
/* line 249, ../sass/moments.scss.BASE.9468.scss */
.mom_top .header_text {
  margin-top: 50px;
}
/* line 252, ../sass/moments.scss.BASE.9468.scss */
.mom_top .header_text .large-5 {
  padding-right: 20px;
}
/* line 264, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container .numeric-header {
  height: 52px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
}
/* line 268, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container .numeric-header .number {
  background-color: #af2b10;
  height: 100%;
  font-style: italic;
  width: 78px;
  float: left;
  margin-right: 18px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 1px;
}
/* line 280, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container .numeric-header .text {
  height: 100%;
  float: left;
  padding-top: 10px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 288px;
}
/* line 290, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container .numeric-header .text span {
  display: block;
  font-size: 12px;
  line-height: 10px;
  color: #99a3ab;
}
/* line 299, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container ul {
  list-style: none;
  height: 171px;
}
/* line 303, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container ul li {
  height: 52px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  padding: 3px;
  border-bottom: 1px solid #2e2e2f;
}
/* line 309, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container ul li span {
  width: 74px;
  height: 41px;
  background-color: #4e4e4e;
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 2px;
  line-height: 10px;
}
/* line 320, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container ul li p {
  float: left;
  font-family: 'galaxie-light';
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

/**end top section**/
/**end container section**/
/**tabs styles**/
/* line 341, ../sass/moments.scss.BASE.9468.scss */
.etabs {
  margin: 0;
  padding: 0;
}

/* line 342, ../sass/moments.scss.BASE.9468.scss */
.tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #a4280e;
  color: white;
  font-family: 'galaxie-light';
  font-style: 300;
}

/* line 343, ../sass/moments.scss.BASE.9468.scss */
.tab a {
  font-size: 22px;
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
  color: white;
}

/* line 345, ../sass/moments.scss.BASE.9468.scss */
.tab.active {
  background: black;
  padding-top: 6px;
  position: relative;
  top: 1px;
}

/* line 346, ../sass/moments.scss.BASE.9468.scss */
.tab a.active {
  font-weight: bold;
}

/* line 347, ../sass/moments.scss.BASE.9468.scss */
.tab-container .panel-container {
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
}

/**tab_styling**/
/* line 350, ../sass/moments.scss.BASE.9468.scss */
li.tab {
  background: transparent url(../assets/images/tab_caps.png) -10px -90px;
  text-align: center;
}
/* line 354, ../sass/moments.scss.BASE.9468.scss */
li.tab.first {
  width: 220px;
  margin-left: 0px;
  background: transparent url(../assets/images/tab_caps.png) 0px -148px;
}
/* line 360, ../sass/moments.scss.BASE.9468.scss */
li.tab.second {
  width: 267px;
  margin-left: -20px;
}
/* line 365, ../sass/moments.scss.BASE.9468.scss */
li.tab.active {
  background: transparent url(../assets/images/tab_caps.png) 0px -210px;
  background-color: transparent;
  width: 220px;
  margin-left: -7px;
}
/* line 371, ../sass/moments.scss.BASE.9468.scss */
li.tab.active.second {
  width: 278px;
  margin-left: -30px;
  background: transparent url(../assets/images/tab_caps.png) 0px -12px;
}

/**end tab styles**/
/**modal styles**/
/* line 381, ../sass/moments.scss.BASE.9468.scss */
#myModal {
  background-color: black;
  border: none;
}

/**end modal styles**/
/* line 390, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js h1 {
  color: white;
  font-size: 45px;
  font-family: 'galaxie-light';
  font-weight: normal;
  line-height: 65px;
}
/* line 398, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js p {
  color: white;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Conv_Gotham-ExtraLight';
}
/* line 407, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .border, #tabs1-js #mom_wrapper-2 .border {
  border-top: 1px solid #25272a;
  margin: 25px 0px;
}
/* line 414, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant, #tabs1-js #mom_wrapper-2 .mom_container.vacant {
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 416, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant .mom_pic, #tabs1-js #mom_wrapper-2 .mom_container.vacant .mom_pic {
  min-height: 118px;
  margin: 0 auto;
  background-size: 100%;
}
/* line 426, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant img, #tabs1-js #mom_wrapper-2 .mom_container.vacant img {
  margin-bottom: 0px;
}
/* line 431, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant p, #tabs1-js #mom_wrapper-2 .mom_container.vacant p {
  font-family: 'Conv_Gotham-ExtraLight';
  text-align: center;
  position: absolute;
  padding: 0px 15%;
  margin-top: 28%;
  width: 85%;
  color: #cdd4db;
  font-size: 14px;
}
/* line 442, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.vacant figcaption, #tabs1-js #mom_wrapper-2 .mom_container.vacant figcaption {
  font-size: 40px;
  width: 85%;
  display: block;
  height: 121px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 75px;
  color: #cdd4db;
  font-family: 'gotham_thin';
}
/* line 458, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged, #tabs1-js #mom_wrapper-2 .mom_container.dragged {
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 463, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged img, #tabs1-js #mom_wrapper-2 .mom_container.dragged img {
  margin-bottom: 0px;
}
/* line 468, ../sass/moments.scss.BASE.9468.scss */
#tabs1-js #mom_wrapper .mom_container.dragged figcaption, #tabs1-js #mom_wrapper-2 .mom_container.dragged figcaption {
  font-size: 40px;
  width: 30%;
  display: block;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  height: 121px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 102px;
  color: #cdd4db;
  font-family: 'gotham_thin';
  margin-left: -86%;
}

/**carousel styles**/
/* line 490, ../sass/moments.scss.BASE.9468.scss */
.list_carousel {
  width: 100%;
}

/* line 493, ../sass/moments.scss.BASE.9468.scss */
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

/* line 499, ../sass/moments.scss.BASE.9468.scss */
.list_carousel li {
  font-size: 40px;
  color: #999;
  text-align: center;
  display: block;
  float: left;
  width: 214px;
  height: 121px;
  margin: 0px 10px;
}
/* line 509, ../sass/moments.scss.BASE.9468.scss */
.list_carousel li img {
  width: 214px;
  height: 121px;
  max-width: none;
}

/* line 515, ../sass/moments.scss.BASE.9468.scss */
.list_carousel.responsive {
  width: auto;
  margin-left: 0;
}

/* line 519, ../sass/moments.scss.BASE.9468.scss */
.clearfix {
  float: none;
  clear: both;
}

/* line 523, ../sass/moments.scss.BASE.9468.scss */
.prev {
  float: left;
  margin-left: 10px;
}

/* line 527, ../sass/moments.scss.BASE.9468.scss */
.next {
  float: right;
  margin-right: 10px;
}

/* line 531, ../sass/moments.scss.BASE.9468.scss */
.pager {
  float: left;
  width: 300px;
  text-align: center;
}

/* line 536, ../sass/moments.scss.BASE.9468.scss */
.pager a {
  margin: 0 5px;
  text-decoration: none;
}

/* line 540, ../sass/moments.scss.BASE.9468.scss */
.pager a.selected {
  text-decoration: underline;
}

/* line 543, ../sass/moments.scss.BASE.9468.scss */
.timer {
  background-color: #999;
  height: 6px;
  width: 0px;
}

/**Draggable styles**/
/**end carousel styles**/
/* line 555, ../sass/moments.scss.BASE.9468.scss */
#sortable1 li {
  width: 25%;
  float: left;
  margin-bottom: 15px;
}
/* line 560, ../sass/moments.scss.BASE.9468.scss */
#sortable1 li .large-3 {
  width: 100%;
}

/**end draggable styles**/
/**submit**/
/* line 570, ../sass/moments.scss.BASE.9468.scss */
#moment_submit, #modal_submit, #list_submit {
  background: #af2b10 url(../assets/images/bg_submit.png) top left repeat-x;
  height: 45px;
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: 'galaxie-medium';
  font-size: 16px;
  line-height: 39px;
}

/* line 583, ../sass/moments.scss.BASE.9468.scss */
#list_submit {
  width: 65%;
  margin: 0px auto;
}

/**end submit**/
/* line 590, ../sass/moments.scss.BASE.9468.scss */
li.vacant {
  height: 140px;
  list-style: none;
  margin-left: 0.46875em;
  margin-right: 0.46875em;
  display: block;
  width: 232px!important;
  padding: 10px;
  border: 1px solid #25272a;
  background-color: #09090c;
}
/* line 599, ../sass/moments.scss.BASE.9468.scss */
li.vacant .mom_pic {
  min-height: 118px;
  margin: 0 auto;
  background-size: 100%;
}
/* line 609, ../sass/moments.scss.BASE.9468.scss */
li.vacant img {
  margin-bottom: 0px;
}
/* line 614, ../sass/moments.scss.BASE.9468.scss */
li.vacant p {
  font-family: 'Conv_Gotham-ExtraLight';
  text-align: center;
  position: absolute;
  padding: 0px 15%;
  margin-top: 28%;
  width: 85%;
  color: #cdd4db;
  font-size: 14px;
}
/* line 625, ../sass/moments.scss.BASE.9468.scss */
li.vacant figcaption {
  font-size: 40px;
  width: 85%;
  display: block;
  height: 121px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 75px;
  color: #cdd4db;
  font-family: 'gotham_thin';
}

/**sticky header**/
/* line 645, ../sass/moments.scss.BASE.9468.scss */
.mom_top .sticky-wrapper {
  margin-top: 24px;
}
/* line 649, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container {
  color: white;
  font-family: 'galaxie-light';
  font-size: 14px;
  width: 385px;
  height: 52px;
  position: relative;
  z-index: 999;
  right: 0px;
  overflow: hidden;
  left: 50%;
  margin-left: 115px;
  margin-top: 24px;
}
/* line 663, ../sass/moments.scss.BASE.9468.scss */
.mom_top #chosen_container.stuck {
  position: fixed;
  top: 0px;
  margin-top: 0px;
}

/**end sticky header**/
/**vid modal**/
/* line 675, ../sass/moments.scss.BASE.9468.scss */
#vid_modal {
  background-color: transparent;
  border: none;
}

/* line 681, ../sass/moments.scss.BASE.9468.scss */
.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.8);
}

/* line 685, ../sass/moments.scss.BASE.9468.scss */
.reveal-modal.small {
  margin-left: -12.5%;
  width: 25%;
  background-color: #0c0c0c;
  color: white;
  border: 1px solid #212120;
}
/* line 692, ../sass/moments.scss.BASE.9468.scss */
.reveal-modal.small h3 {
  font-family: 'galaxie-light';
  color: white;
  font-size: 26px;
  margin-bottom: 25px;
  text-align: center;
}
/* line 700, ../sass/moments.scss.BASE.9468.scss */
.reveal-modal.small p {
  font-family: 'Conv_Gotham-ExtraLight';
  font-size: 16px;
  text-align: center;
}

/* line 707, ../sass/moments.scss.BASE.9468.scss */
#list_modal {
  margin-left: -17.5%;
  width: 35%;
}
/* line 711, ../sass/moments.scss.BASE.9468.scss */
#list_modal ul {
  list-style: none;
}
/* line 714, ../sass/moments.scss.BASE.9468.scss */
#list_modal ul li {
  height: 55px;
  background: transparent url(../assets/images/opacity.png) top left repeat;
  padding: 3px;
}
/* line 719, ../sass/moments.scss.BASE.9468.scss */
#list_modal ul li span {
  width: 74px;
  height: 41px;
  background-color: #4e4e4e;
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 2px;
  line-height: 10px;
}
/* line 730, ../sass/moments.scss.BASE.9468.scss */
#list_modal ul li p {
  float: left;
  font-family: 'galaxie-light';
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 57%;
  font-size: 12px;
}

/**end vid modal**/
/**spin**/
@-moz-keyframes spin {
  /* line 748, ../sass/moments.scss.BASE.9468.scss */
  100% {
    -moz-transform: rotate(45deg);
  }
}

@-webkit-keyframes spin {
  /* line 749, ../sass/moments.scss.BASE.9468.scss */
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes spin {
  /* line 750, ../sass/moments.scss.BASE.9468.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(45deg);
  }
}

/**end spin**/
