<section id="mom_wrapper" class="row">



			<div class="row">
			
				<div class="large-4 columns">
					<div class="mom_container" data-momid="1">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Splinter Cell: Blacklist</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="mom_container" data-momid="3">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="mom_container" data-momid="14">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
			</div>
			<div class="row">
			
							
				<div class="large-4 columns">
					<div class="mom_container" data-momid="1">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="mom_container" data-momid="3">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption>Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="mom_container" data-momid="14">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
			</div>
			<div class="row">
			
				<div class="large-4 columns">
					<div class="mom_container" data-momid="1">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption>Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="mom_container" data-momid="3">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="mom_container" data-momid="14">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption>Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
		</div>
			<div class="row">
			
					
				<div class="large-4 columns">
					<div class="mom_container" data-momid="1">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="mom_container" data-momid="3">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="mom_container" data-momid="14">
						<figure class="mom_pic">
							
						<div class="game-container">
							<img src="assets/images/Dead_Space_3_-_X360_2D.jpg" data-slide="0" data-reveal-id="vid_modal" alt="img txt">
						</div>
							<span class="play_icon"></span>
							<span class="cross">
								<span class="cross_icon"></span>
							</span>
							<figcaption class="game_name">Duis mollis, est non commodo luctus, nisi erat</figcaption>
						</figure>
						<span class="game_input">Developer</span>
						<span class="game_answer">Infinity Ward</span>
						<span class="game_input">Publisher</span>
						<span class="game_answer">2K</span>
						<span class="game_input">Format</span>
						<span class="game_answer">Cardboard</span>
					</div>
				</div>
		</div>
	
</section>