footer {
  height: 400px;
  border-top: 4px solid #404040;
  margin-top: 90px;
  margin-bottom: 30px;
}


footer .top_btn {
  margin: -54px auto 0px;
  width: 201px;
}

footer .logos {
  margin: auto;
  width: 79%;
  margin-top: 40px;
}

footer p.small_text {
  font-size: 9px;
  line-height: 11px;
  margin-top: 10px;
  text-align: center;
  color: #575757;
  font-family: helvetica;
  text-transform: uppercase;
}

div#ign_footer {
  clear: both;
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  bottom: 0px;
  width: 100%;
  height: 70px;
  z-index: 99999;
}

div#ign_footer {
  clear: both;
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  bottom: 0px;
  width: 100%;
  height: 70px;
  z-index: 99999;
}


.ign-elements {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #212121;
  height: auto;
  padding: 10px 0px;
  border-top: 1px solid #333333;
}

.ign-elements p {
  color: white;
}

.ign-elements a {
  color: #c6a129;
}

.ign-elements .row {
  background: url(../assets/images/html5.png) no-repeat center center;
}

p.corp-terms {
  display: block;
  height: 60px;
  padding: 10px 0 0 75px;
  margin: 0px;
  background: url(../assets/images/ign-footer.jpg) no-repeat 0px 8px;
  text-align: left!important;
}

p.corp-terms a {
  color: #c6a129;
}

.white {
  text-weight: bold;
  color: white;
}


p.corp-links {
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 0 10px 0 0;
}

p.corp-links a {
  color: #c6a129;
}

div#ign_footer p {
  font-size: 14px;
  color: #999;
  text-shadow: none;
  text-align: right;
}

.footer_cap {
  width: 1020px;
  background: transparent url(../assets/images/bioshock_footer-cap.png) no-repeat 0 0;
  height: 65px;
  position: absolute;
  margin-left: -22px;
  margin-top: -20px;
}


/**responsive rules**/

@media only screen and (max-width: 767px) {
    header #ignHeader .social-btns {
        display: none;
    }
    
    #ign_footer {
        .row {
            background: url(../assets/images/html5.png) no-repeat 98% 0px;
        }
        
        p.corp-links {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 900px) {
    #ign_footer {
        a, p, span {
            font-size: 12px;
        }
        
        .corp-terms {
            font-size: 12px;
        }
    }
}