/**cod moments styles**/
@font-face {
    font-family: 'gotham_thin';
    src: url('../assets/fonts/gotham_thin-webfont.eot');
    src: url('../assets/fonts/gotham_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/gotham_thin-webfont.woff') format('woff'),
         url('../assets/fonts/gotham_thin-webfont.ttf') format('truetype'),
         url('../assets/fonts/gotham_thin-webfont.svg#gotham_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'Conv_Gotham-ExtraLight';
  src: url('../assets/fonts/Gotham ExtraLight.eot');
  src: local('☺'), url('../assets/fonts/Gotham ExtraLight.woff') format('woff'), url('../assets/fonts/Gotham ExtraLight.ttf') format('truetype'), url('../assets/fonts/Gotham ExtraLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'galaxie-light';
  src: url('assets/fonts/GalaxiePolaris-Light.eot');
  src: local('☺'), url('../assets/fonts/GalaxiePolaris-Light.woff') format('woff'), url('../assets/fonts/GalaxiePolaris-Light.ttf') format('truetype'), url('../assets/fonts/GalaxiePolaris-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
} 


@font-face {
  font-family: 'galaxie-bold';
  src: url('assets/fonts/GalaxiePolaris-Bold.eot');
  src: local('☺'), url('../assets/fonts/GalaxiePolaris-Bold.woff') format('woff'), url('../assets/fonts/GalaxiePolaris-Bold.ttf') format('truetype'), url('../assets/fonts/GalaxiePolaris-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-book';
  src: url('assets/fonts/GalaxiePolaris-Book.eot');
  src: local('☺'), url('../assets/fonts/GalaxiePolaris-Book.woff') format('woff'), url('../assets/fonts/GalaxiePolaris-Book.ttf') format('truetype'), url('../assets/fonts/GalaxiePolaris-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'galaxie-medium';
  src: url('assets/fonts/GalaxiePolaris-Medium.eot');
  src: local('☺'), url('../assets/fonts/GalaxiePolaris-Medium.woff') format('woff'), url('../assets/fonts/GalaxiePolaris-Medium.ttf') format('truetype'), url('../assets/fonts/GalaxiePolaris-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**variable declarations**/
$red : #D3222A;
$grey : #2d3536;
$line_grey: #f0f1f4;
$off_white : #f0f1f4;
$fauxblack : #0c0b0b;
$dragCol : #cdd4db;

html {
  background-color: black;
}

body {
  background: #7B7B7B;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;*/
  background-repeat:no-repeat;
  background-position:center;
  background-position-y: 0px;
}

#moments_container {
  background-color: black;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

/**top triangle**/
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent $fauxblack transparent;
  float: right;
  margin-top: -56px;
  margin-right: -7px;  
}
/**end top triangle**/

/**container section**/
#mom_wrapper-2 {
    .row {
      padding: 0px 15px;
    }
}
<<<<<<< HEAD

#mom_wrapper, #mom_wrapper-2, #mom_wrapper-3 {
  background: $fauxblack url(../assets/images/right_pattern.png) right repeat-y;
  padding: 40px 15px;
=======
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b

.hidden {
  display: none;
}

#mom_wrapper, #mom_wrapper-2, #mom_wrapper-3 {
  padding: 40px;

  .columns {
    margin-bottom: 45px;
  }

  .row {
    .mom_container {
      background-color: $fauxblack;
      color: white;
      cursor: pointer;
      height: auto;
      width: 100%;
      padding-bottom: 10px;
      font-family: galaxie-book;

      figcaption {
        font-size: 16px;
        font-family: 'galaxie-light';
        line-height: 20px;
      } 

      img {
        margin-bottom: 10px;
      }

      span.corner-tri {
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 35px 35px 0;
        border-color: transparent $fauxblack transparent transparent;
        position: absolute;
        right: 7px;
        z-index: 99;
      }

      span.cross {
        height: 30px;
        width: 30px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background-color: #fff;
        position: absolute;
<<<<<<< HEAD
        margin-top: -46px;
=======
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b
        cursor: pointer;
        display: block;
        bottom: -20px;
        left: 50%;
        margin-left: -15px;
        border: 5px solid #1e212c;

        .cross_icon {
          display: block;
          height: 15px;
          width: 17px;
          margin: auto;
          margin-top: 31%;
          margin-left: 21%;
          position: absolute;

          &.move_icon {
            background: transparent url(../assets/images/move_icon.png) 0px 0px no-repeat;
            display: block;
            height: 23px;
            width: 23px;
            margin-top: 24%;
            margin-left: 16%;
          }

          &.spinEffect{
            -webkit-animation: spin 0.2s linear;
          }
        } 

        &.off {
          background: #ea0000; /* Old browsers */
          background: -moz-linear-gradient(top,  #ea0000 1%, #b52424 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ea0000), color-stop(100%,#b52424)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #ea0000 1%,#b52424 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #ea0000 1%,#b52424 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #ea0000 1%,#b52424 100%); /* IE10+ */
          background: linear-gradient(to bottom,  #ea0000 1%,#b52424 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0000', endColorstr='#b52424',GradientType=0 ); /* IE6-9 */
        }
      }

      span.game_name {
        font-size: 12px;
        font-family: 'galaxie-light';
        margin-top: 10px;
        display: block;
      }
    }
  }


}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(-45deg);}   
}

/**end tab styling**/

/**topsection**/

.mom_top {
  
  height: 535px;
  position: relative;

  h2 {
    font-size: 17px;
    font-family: 'Conv_Gotham-ExtraLight';
    font-weight: normal;
    line-height: 30px;
    color: white;
    text-align: right;
    opacity: 0; 
  } 

  h1 {
    font-size: 53px;
    font-family: 'gotham_thin';
    font-weight: normal;
    line-height: 65px;
    color: white;
    text-align: right;
    opacity: 0;
  }

  img {
    float:right;
  }

  .header_text {
    margin-top: 0px;
    height: 535px;
    overflow: hidden;

    .large-5 {
      padding-right: 20px;
    }

    .carCont {
      overflow: hidden;
    }
  }



  /**last selected section**/


  #chosen_container {
    background-color: #0c0e15;
    border-bottom: 4px solid #20232e;



    .numeric-header {
      height: 52px;
      background: transparent url(../assets/images/opacity.png) top left repeat;

      .number {
        background-color: #0A0D14;
        height: 100%;
        font-style: italic;
        width: 78px;
        float: left;
        margin-right: 18px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 1px;
      }

      .text {
        height: 100%;
        float: left;
        padding-top: 10px; 
        line-height: 24px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;  
        width: 180px;
        font-size: 13px;

        span {
          display: block;
          font-size: 12px;
          line-height: 10px;
          color: #99a3ab;
        }
      }
    }

    ul {
      list-style: none;
      height: 171px;

      li {
        height: 52px;
        background: transparent url(../assets/images/opacity.png) top left repeat;
        padding: 3px;
        border-bottom: 1px solid #2e2e2f;

        span {
          width: 74px;
          height: 41px;
          background-color: #4e4e4e;
          display: block;
          float: left;
          margin-right: 20px;
          margin-top: 2px;
          line-height: 10px;
        }

        p {
          float: left;
          font-family: 'galaxie-light';
          margin-top: 10px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          width: 200px;  
        }
      }
    }
  }
  /**end last section**/
}

/**end top section**/


/**end container section**/

/**tabs styles**/
.etabs { margin: auto; padding: 0; width: auto; background-color: blue; position: relative; }
.tab { display: block; zoom:1; *display:inline; color: white;  font-family: 'galaxie-light'; font-style: 300;}
.tab a { font-size: 22px; line-height: 2em; display: block; padding: 0 10px; outline: none; color: white; }
.tab a:hover {}
.tab.active { background: black; position: relative; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px;}


/**tab_styling**/
li.tab {
  text-align: center;
  height: 60px;
  background-color: #0c0e15;
  border-top: 4px solid #20232e;
  margin-bottom: 30px;

  a {
    font-family: 'galaxie-light';
    font-size: 18px;
    padding: 8px 12px;
    width: 200px;
    text-align: center;
    color: grey;

      &.active {
        font-weight: normal!important;
      }
  }

  &.first {
    width: 50%;
    text-align: right;
    float: left;

    a {
      float: right;
    }
  }

  &.second {
    width: 50%;
    text-align: left;
    float: right;
    
    a {
      float: left;
    }
  }

  &.active {
    background-color: transparent;
    background-color: #0c0e15;
    font-weight: normal;

    a {
      border-top: 4px solid $red;
      margin-top: -4px;
      color: white;
    }

    &.second {
      background-color: #0c0e15;

    }
  }
}
/**end tab styles**/

/**modal styles**/
#myModal {
  background-color: black;
  border: none;
}
/**end modal styles**/


#tabs1-js, #tabs1-hidden {
  
  h1 {
    color: white;
    font-size: 45px;
    font-family: 'galaxie-light';
    font-weight: normal;
    line-height: 65px;
  }

  p {
    color: white;
    font-weight: normal;
    font-size: 17px;
    font-family: 'Conv_Gotham-ExtraLight';
  }

  #mom_wrapper, #mom_wrapper-2, #mom_wrapper-3 {
<<<<<<< HEAD
=======
    padding: 40px;
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b

    .border {
      border-top: 1px solid #25272a;
      margin: 25px 0px;
    }


    .mom_container {

      .mom_pic {
        height: 195px;
        overflow: hidden;
      }

      &.vacant {
         background: url(../assets/images/order-bg.png) top left repeat-x;
         -moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.5);
         -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
         box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.5);

        .mom_pic {
          min-height: 195px;
          margin: 0 auto;
          background-size: 100%;

          img {
            width: 140px;
            height: 195px;
            background-color: white;
          }
        }

        padding: 10px;
        border: 1px solid #25272a;
        background-color: #09090c;

        img {
          margin-bottom: 0px;
          width: 140px;
          height: 195px;
          background-color: white;
        }

        p {
            font-family: 'Conv_Gotham-ExtraLight';
            text-align: center;
            position: relative;
            padding: 30px 15% 10px;
            width: auto;
            color: $dragCol;
            font-size: 18px;
        }

        figcaption {
          font-size: 16px;
          display: block;
          height: auto;
          position: relative;
          text-align: center;
          vertical-align: middle;
          display: block;
          color: #cdd4db;
          font-family: 'galaxie-medium';
        }

      }

      &.dragged {
        padding: 10px;
        border: 1px solid #25272a;
        background-color: #09090c;

        img {
          margin-bottom: 0px;
          
        }

        figcaption {
          font-size: 40px;
          width: 100%;
          display: block;
          background: transparent url(../assets/images/opacity.png) top left repeat;
          height: 214px;
          position: relative;
          text-align: center;
          vertical-align: middle;
          display: inline-block;
          line-height: 102px;
          color: #cdd4db;
          font-family: 'galaxie-medium';
          margin-left: -100%;
          text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);

          /*span {
            display: block;
            background: transparent url(../assets/images/opacity.png) top left repeat;
            height: 90px;
            width: 90px;
            border-radius: 45px;
            border: 2px solid #fff;
            margin: auto;
            margin-top: 55px;
            line-height: 75px;
          }*/
        }
      }
    }
  }
}


/**carousel styles**/
.list_carousel {
  width: 100%;
}
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.list_carousel li {
  font-size: 40px;
  color: #999;
  text-align: center;
  display: block;
  float: left;
  width: 214px;
  height: 121px;
  margin: 0px 10px;

  img {
    width: 214px;
    height: 121px;
    max-width: none;
  }
}
.list_carousel.responsive {
  width: auto;
  margin-left: 0;
}
.clearfix {
  float: none;
  clear: both;
}
.prev {
  float: left;
  margin-left: 10px;
}
.next {
  float: right;
  margin-right: 10px;
}
.pager {
  float: left;
  width: 300px;
  text-align: center;
}
.pager a {
  margin: 0 5px;
  text-decoration: none;
}
.pager a.selected {
  text-decoration: underline;
}
.timer {
  background-color: #999;
  height: 6px;
  width: 0px;
}


/**Draggable styles**/

/**end carousel styles**/

#sortable1, #sortable2 {
  li {
<<<<<<< HEAD
    width: 24.9%;
=======
    width: 18%;
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b
    float: left;
    margin: 15px 1%;

    .large-3 {
      width: 100%;
    } 
  }

}
/**end draggable styles**/

/**submit**/

#moment_submit, #modal_submit, #list_submit, #own_submit, #shortlist_submit, #submit_birthdate {
<<<<<<< HEAD
  background: #af2b10 url(../assets/images/bg_submit.png) top left repeat-x;
  height: 45px;
  width: 100%;
  display: block;
  color: white;
=======
  height: auto;
  width: auto;
  border: 2px solid #46484d;
  float: left;
  margin-top: 5px;
  padding: 10px 25px 15px;
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b
  text-align: center;
  color: #46484d;
  font-family: 'galaxie-medium';
  font-size: 25px;
  letter-spacing: 5px;
}

#submit_birthdate {
  margin-top: -25px;
}

#submit_birthdate {
  margin-top: -25px;
}

#list_submit {
  width: 65%;
  margin: 0px auto;
}

#own_submit {
  margin: 0px auto 20px;
  width: 50%;
}

<<<<<<< HEAD
=======
#moment_submit {
  height: auto;
  width: 270px;
  border: 2px solid #46484d;
  margin-top: 5px;
  padding: 10px 25px 15px;
  text-align: center;
  color: #46484d;
  font-family: 'galaxie-light';
  font-size: 33px;
  letter-spacing: 5px;
  margin: auto;
  display: block;
  float: none;
  margin-bottom: 30px;
}

>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b
/**end submit**/

.ui-sortable-helper {
  figcaption {
    display: none!important;
  }
}

li.vacant {

<<<<<<< HEAD
      list-style: none;
      margin-left: 0.46875em;
      margin-right: 0.46875em;
      width: 23.3%!important;
      padding: 0px!important;
      display: block;
      height: 139px; 
=======
      padding: 0px!important;
      display: block;
      height: 217px;
      width: 18%;
      float: left;
      margin: 15px 1%;
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b

      .mom_pic {
        min-height: 118px;
        margin: 0 auto;
        background-size: 100%;
      }

      padding: 10px;
      border: 1px solid #25272a;
      background-color: #09090c;

      img {
        margin-bottom: 0px;
        
      }

      p {
          font-family: 'Conv_Gotham-ExtraLight';
          text-align: center;
          position: absolute;
          padding: 0px 15%;
          margin-top: 28%;
          width: 85%;
          color: $dragCol;
          font-size: 14px;
      }

      figcaption {
        font-size: 40px;
        width: 100%;
        display: block;
        height: 100%;
        position: relative;
        text-align: center;
        vertical-align: middle;
        display:inline-block;
        line-height: 75px;
        color: $dragCol;
        font-family: 'gotham_thin';
      }

    }


    /**sticky header**/
    .mom_top {

      .sticky-wrapper {
        margin-top: 24px;
      }

      #chosen_container {
        color: white;
        font-family: 'galaxie-light';
        font-size: 14px;
        width: 420px;
        height: 52px;
        position: fixed;
        z-index: 999;
        overflow: hidden;
        margin: auto;
        left: 50%;
        margin-left: -210px;


        &.stuck {
          position: fixed;
          top: 0px;
          margin-top: 0px;
          margin-left: -193px;
          left: 50%;
        }
      }
    }
    /**end sticky header**/


    /**vid modal**/
    .play_icon {
<<<<<<< HEAD
      background: url(../assets/images/play_btn.png);
      height: 27px;
      width: 23px;
      position: absolute;
      margin: auto;
      right: 46%;
      margin-top: 20%;
      opacity: 0;
=======
      /*background: url(../assets/images/play_btn.png);*/
      height: 30px;
      width: 60px;
      position: absolute;
      margin: auto;
      right: 69%;
      margin-top: 26%;
      margin-top: 20%;
      opacity: 1;
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b
      pointer-events: none;
      top: 0px;
    }

    #vid_modal {
      background-color: transparent;
      border: none;

    }

    .reveal-modal-bg {
      background: rgba(0, 0, 0, 0.8);
    }

    .reveal-modal.small {
      margin-left: -184px;
<<<<<<< HEAD
      width: 388px;
=======
      width: 500px;
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b
      background-color: #0c0c0c;
      color: white;
      border: 1px solid #212120;

      p {
        a {
        color: #999999;
          &:hover {
            text-decoration: underline;
          }
        }
      }


      h3, h2 {
          font-family: 'galaxie-light';
          color: white;
          font-size: 26px;
          margin-bottom: 25px;
          text-align: center;
          font-weight: normal;
      }

      p {
          font-family: 'Conv_Gotham-ExtraLight';
          font-size: 16px;
          text-align: center;
      }
    }

    #list_modal {
      margin-left: -17.5%;
      width: 35%;

      ul {
      list-style: none;

      li {
        height: 55px;
        background: transparent url(../assets/images/opacity.png) top left repeat;
        padding: 3px;

        span {
          width: 74px;
          height: 41px;
          background-color: #4e4e4e;
          display: block;
          float: left;
          margin-right: 20px;
          margin-top: 2px;
          line-height: 10px;
        }

        p {
          float: left;
          font-family: 'galaxie-light';
          margin-top: 10px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          width: 57%;
          font-size: 12px;  
        }
      }
    }
    }



    /**end vid modal**/

    /**spin**/

    @-moz-keyframes spin { 100% { -moz-transform: rotate(45deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(45deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(45deg); } }

    /**end spin**/

    /**share buttons**/
    #share_btns {
      margin-top: 20px;
    }

    #twitter {
      width: 153px;
      height: 34px;
      display: block;
      line-height: 0px;
      font-size: 0px;
      float: right;

      .share {
        background: url(../assets/images/shar_sprite.png);
        display: block;
        height: 34px;
        width: 100%;
        background-position: 0px 34px;
      }
      .count {
        float: right;
        font-size: 13px;
        color: black;
        line-height: 33px;
        text-align: center;
        margin-right: 18px;
        font-family: 'galaxie-medium';
        font-family: 'galaxie-medium';
        color: #006dae;
      }
    }

    #facebook {
      width: 153px;
      height: 34px;
      display: block;
      line-height: 0px;
      font-size: 0px;
      float: left;

      .share {
        background: url(../assets/images/shar_sprite.png);
        display: block;
        height: 34px;
        width: 100%;
      }
      .count {
        float: right;
        font-size: 13px;
        color: black;
        line-height: 33px;
        text-align: center;
        margin-right: 18px;
        font-family: 'galaxie-medium';
        color: #3b539d;
      }
    }
    /**end share buttons**/
    #sortable1 {
      .ui-sortable-helper {
        margin-right: -200px;
      }

      .ui-state-default {
        background-color: none;
        list-style: none;
        border: none;
        background: transparent;
<<<<<<< HEAD
=======

        select {
          display: none;
        }
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b
      }
    }

    #bespoke_list {
      background-color: #0c0b0b;
      padding: 20px 20px 0px;

      a {
        margin: 0px auto;
      }
    }

.myMoments {

  #mom_wrapper {
    padding-top: 20px;
  }

  #inject {

    display: none;

    .titleInject {
      font-size: 53px;
      font-family: 'gotham_thin';
      font-weight: normal;
      line-height: 45px;
      color: white;
      text-align: left;
      margin-top: 0px;
      line-height: 60px;
    }
  }
}

#example_video_1 {
  width: 100%!important;

  .vjs-big-play-button {
    display: none;
  }
}

#example_video_1 {

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
  }
}

@media only screen and (max-width: 767px) { 

  #tab-container {
    .etabs li {
        width: 100%;
        background-color: #AF2B10;
        background-image: none;
        margin-left: 0px;

        &.active {
          background-color: black;
          background-image: none;
          margin-left: 0px;
        }
    }
  }


    .mom_top #chosen_container {
        position: relative;
        left: 0px;
        margin-left: 0px;
        margin-top: 0px;
=======

  }
}





/********8888NEW GAME GEN STYLES*********/

/*.pag_wrapper {
  padding: 5px;
  background-color: black;  
}*/

.bottom-pos {
  position: absolute;
  bottom: 0px;
}

.caption {
      height: 150px;
      width: 300px;
      float: right;
      margin-left: 180px;
      margin-top: 100px;

      .left-panel {
        float: left;
        border-right: 2px solid #ffffff;
        width: 150px;
        height: 100%;
        text-align: right;
        padding-right: 15px;

        span {
          color: white;
          text-transform: uppercase;
          font-family: 'galaxie-medium';
          margin-top: -7px;
          display: block;
        }
      }

      .right-panel {
        float: left;
        width: 150px;
        height: 100%;
        text-align: left;
        padding-left: 15px;
      }
  
      .game_input {
        font-family: 'galaxie-medium';
        font-size: 12px;
        display: block;
        margin: 5px 0px 0px;
        color: white;
      }

      .game_answer {
        font-family: 'galaxie-light';
        font-size: 12px;
        display: block;
        margin: 5px 0px 0px;
        color: white;
      }
}

.pagination {
  position: absolute;
  z-index: 98;
  bottom: 40px;
  right: 0px;
  background-color: black;
  padding: 8px 2px 15px 9px;
  border-bottom: 1px solid #20222D;

  a {
    font-size: 0px;
    height: 8px;
    width: 8px;
    border: 2px solid #fff;
    display: block;
    border-radius: 5px;
    float: left;
    margin-right: 7px;

    &.selected {
      background-color: white;
    }
  } 
}

#vote-btn {
  height: 35px;
  width: 100px;
  border: 2px solid #46484d;
  float: right;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  color: #46484d;
  font-family: 'galaxie-medium';
  font-size: 18px;
  letter-spacing: 4px;
  margin-right: 8px;
}

.rcaroufredsel_wrapper {
  margin-bottom: 0px; 
}

#carousel {
  li {
    display: block;
    float: left;
  }
}


#game-gen {

  #reason { height: 80px;   font-family: 'galaxie-book'; }
  
  .ui-state-default .chosen-container {
    display: none;
  }


  .game-container {
    height: 195px;
    width: 50%;
    display: block;
    background-color: white;
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    overflow: hidden;
  }

  .caption {
    position: absolute;
  }

  .chosen-container {
    border: none;
    box-shadow: none;

    .chosen-single {
      border-radius: 0px;
      background: #20232e;
      border: none;
      color: white;
      box-shadow: none;
      height: 33px;
      padding: 5px;
      font-family: 'galaxie-light';

      div {
        background-color: #0c0e15;
        width: 35px;

        b {
         background: url(../assets/images/down-arrow.png) center center no-repeat;
        }
      }
    }

    .chosen-drop {
      background-color: #20232e;
      border: none;
      border-radius: 0px; 

      .chosen-results {
        margin: 0px;
        padding: 0px;

        li {
          padding: 8px 5px 10px;

          &.highlighted {
            background-color: $red;
            background-image: none;
          }
        }
      }

      li {
        color: white;
        font-family: 'galaxie-light';
      }

      .chosen-search {
        display: none;
      }
    }
  }

  .process-num {
    border: 2px solid white;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    line-height: 39px;
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }

  #mom_wrapper {
    .mom_container {
      background-color: #0c0e15;
      border-top: 5px solid #20232e;
      height: 195px;
      padding-top: 5px;

      .game_name {
        margin-bottom: 10px;
      }

      .game_input {
        font-family: 'galaxie-medium';
        font-size: 12px;
        display: block;
        margin: 5px 0px 0px;
      }

      .game_answer {
        font-family: 'galaxie-light';
        font-size: 12px;
        display: block;
        margin: 5px 0px 0px;
      }
    }
  }

  .top-text {
    display: none;

    h2 {
      text-align: right;
      font-family: 'galaxie-light';
      color: white;
      margin-top: 0px;
      line-height: 50px;
      font-size: 45px;
      font-weight: normal;
    }

    h3 {
      text-align: left;
      font-family: 'galaxie-light';
      color: white;
      font-size: 18px;
      font-weight: normal;
      padding-right: 60px;
    }
  }
}

form.selection-ops {
  height: 50px;
  position: relative;
  padding: 30px 26px 0px;

  
  label {
    position: absolute;
    right: 14px;
    height: 30px;
    width: 30px;
    font-size: 0px;
    line-height: 0px;
    background: black url(../assets/images/search-icon.jpg) center center no-repeat;
    top: 1px;
  }

  select {
    margin: 0px auto 20px;
    width: 100%;
  }

  input {
    float: right;
    width: 100%;
    background-color: black;
    border: 1px solid #4c4c4c; 
    font-family: 'galaxie-medium';
    color: #4c4c4c;
  }

  #alpha-list {
    list-style: none;

    li {
      float: left;
      padding: 0px 0px 3px;
      font-size: 14px;
      border-bottom: 1px solid;
      width: 18px;

      &.selected {
        border-bottom: 1px solid $red;

        a {
          color: white;
          font-family: 'galaxie-bold';
        }
      }

      a {
        color: #4C4C4C;
        font-family: 'galaxie-medium';
        text-align: center;
        width: 100%;
        display: block;
      }
    }
  }
}

.etabs {
  &.stuck {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    margin-left: -193px;
    left: 50%;
  }
}

.title-blok {
  img {
    margin: 80px auto 0px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -37%;
  }
}
/**********END GAME GEN STYLES**********/





@media only screen and (max-width: 767px) {

  #moment_submit {
    margin-bottom: 60px;
  } 

  #sortable1 .ui-state-default {
    position: relative;

    .chosen-container { display: block; margin-bottom: 5px; }

    select {
      width: auto;
      position: absolute;
      margin-left: 0px;
      display: block;
    }
  }

  #game-gen .chosen-container {
    margin-bottom: 20px;
  }

  #game-gen .top-text h3 {
    padding: 0px 20px;
    font-size: 15px;
  }

  #tab-container {
    .etabs {
        &.stuck {
          position: fixed;
          top: 0px;
          margin-top: 0px;
          margin-left: -193px;
          left: 50%;
        }
      }

    .etabs li {
      background-image: none;
      margin-left: 0px;
      width: 50%;
      
      a {
        text-align: center;
        width: 100%;
        float: right;
        text-align: center;
      }

      &.active {
        background-image: none;
        margin-left: 0px;
      }
    }
  }

  #game-gen .top-text {
    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
    }
  }

    .mom_top #chosen_container {
        position: relative;
        margin: auto;
>>>>>>> c0daefeeef9b728a8b243d05c5e0413837bc912b
    }

    #sortable1 li, #sortable2 li {
      width: 100%;
    }

    .reveal-modal { 
      margin-left: -47%;
      width: 94%;
    }

    .reveal-modal .close-reveal-modal {
      z-index:999;
      font-size: 2.375em;
      top: -0.5em;
    }

    .reveal-modal.small {
      margin-left: -47%;
      width: 94%;
    }
}

/**policy notice**/

#policyNotice {
   bottom: 2px;
  left: 50%;
  margin-left: -35%;
  width: 70%;
}

#policyNotice, #policyNotice p, #policyNotice a {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
}

#policyNotice {
    background-color: #FFFFCE;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 10px 0;
    position: fixed;
    z-index: 999;
}

#policyNotice {
    background-color: #FFFFCE;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 10px 0;
    position: fixed;
    z-index: 999;
}

#policyNotice .close-btn {
    float: right;
    padding: 4px;
    position: relative;
    right: -8px;
    text-align: center;
    top: -5px;
}

#policyNotice a, #policyNotice a:visited {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#policyNotice .close-btn a, #policyNotice .close-btn a:visited {
    color: #BA0D0D;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

#ignHeader #ignHeader-userBar {
  background-color: black;
  background-image: none;
}

select {
  width: 31%;
  margin-bottom: 0px;
  float: left;
  margin-left: 2%;
  font-size: 14px;
}
/**end policy notice**/

/**ie specific**/
.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }
 
.lt-ie9 .column, .lt-ie9 .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }
 
.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }
 
.lt-ie9 .large-1, 
.lt-ie9 .row .large-1 { width: 8.33333%; }
 
.lt-ie9 .large-2, 
.lt-ie9 .row .large-2 { width: 16.66667%; }
 
.lt-ie9 .large-3, 
.lt-ie9 .row .large-3 { width: 25%; }
 
.lt-ie9 .large-4, 
.lt-ie9 .row .large-4 { width: 33.33333%; }
 
.lt-ie9 .large-5, 
.lt-ie9 .row .large-5 { width: 41.66667%; }
 
.lt-ie9 .large-6, 
.lt-ie9 .row .large-6 { width: 50%; }
 
.lt-ie9 .large-7, 
.lt-ie9 .row .large-7 { width: 58.33333%; }
 
.lt-ie9 .large-8, 
.lt-ie9 .row .large-8 { width: 66.66667%; }
 
.lt-ie9 .large-9, 
.lt-ie9 .row .large-9 { width: 75%; }
 
.lt-ie9 .large-10, 
.lt-ie9 .row .large-10 { width: 83.33333%; }
 
.lt-ie9 .large-11, 
.lt-ie9 .row .large-11 { width: 91.66667%; }
 
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }
 
.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }
 
.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }
 
.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }
 
/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }

/**end ie specific**/
