<html>
<head>
	<title>Voting api demo</title>
	<style>
		#moments-selection {
			border: 1px solid #aaa;
			height: 240px;
			overflow: hidden;
			margin:0;
			padding: 0;
		}

		#moments-selection li {
			border: 1px dashed #aaa;
		}

		#moments-repository {
			padding:0;
		}

		#moments-selection li,
		#moments-repository li {
			overflow: hidden;
			width:220px;
			height:120px;
			display: inline-block;
		}
	</style>
</head>
<body>


<ul id="moments-selection">
	<li class="droplet"></li>
	<li class="droplet"></li>
	<li class="droplet"></li>
	<li class="droplet"></li>
	<li class="droplet"></li>
	<li class="droplet"></li>
	<li class="droplet"></li>
	<li class="droplet"></li>
	<li class="droplet"></li>
	<li class="droplet"></li>
</ul>

<ul id="moments-repository">
</ul>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="./js/jquery.sortable.js"></script>
<script src="./js/moments.js"></script>

<!--
 * This is just a template that I used to help with displayMoments below
 * You don't have to use this, just an example
-->
<script type="text/html-template" id="moment_tpl">
  <li id="moment_{{ count }}" draggable="true" class="moment" data-id="{{ id }}">
  	<img draggable="false" src="./{{ img }}" alt="{{ name }}">
  	<h2>{{ name }}</h2>
  	<p class="description">{{ description }}</p>
  </li>
</script>

<script>

/*
 * Access the API through the Moments object
 * Callbacks are passed a relevant JSON object
 * Currently available:
 * -- Moments.getAll(callback)
 */

function displayMoments(moments) {

	// Load the above template
	var template = $('#moment_tpl').html();

	// Populate it with content
	for (var i = 0; i < moments.length ; i++) {
		
		var display = template;
		display = display.split("{{ count }}").join(i);
		display = display.split("{{ id }}").join(moments[i].id);
		display = display.split('{{ img }}').join(moments[i].image_path);
		display = display.split("{{ name }}").join(moments[i].name);
		display = display.split('{{ description }}').join(moments[i].description);

		// Write it to the DOM
		$('#moments-repository').append(display);
	}

//	$('#moments-selection').sortable();
	setupDragDrop();

}

/* 
 * Gets all moments from the CMS
 * Specifies displayMoments as a callback
 */
Moments.getAll(displayMoments);

function setupDragDrop() {
	$('.moment').on('dragstart', function(e){
		e.originalEvent.dataTransfer.setData("text/plain", e.target.id);  
	});

	$('.droplet').on('drop', function(e){
		var id = e.originalEvent.dataTransfer.getData("text/plain");
		$(e.target).replaceWith(document.getElementById(id));
		e.preventDefault();
	});

	$('.droplet').on('dragover', function(e) {
		e.preventDefault();
    	e.stopPropagation();
	});
}

</script>
</body>
</html>